In [1]:
!pip3 install -q --upgrade pip
!pip3 install -q pandas numpy matplotlib seaborn openpyxl climateserv requests netCDF4 xarray pyproj statsmodels

In [2]:
import sys
from pathlib import Path

# Calculate the path to the scripts folder relative to the current notebook.
scripts_dir = Path("../../").resolve()

# Add the scripts directory to the sys.path if it's not already there.
if str(scripts_dir) not in sys.path:
    sys.path.append(str(scripts_dir))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Data loading and initial preparation
df = pd.read_csv("../../data/original_data/gambia_lat_and_long.csv", sep=';', decimal=',')
df.drop(["FID", "pointid", "grid_code"], axis=1, inplace=True)
df.rename(columns={"POINT_X": "lat", "POINT_Y": "long"}, inplace=True)
df.to_csv("../../data/original_data/gambia_lat_and_long.csv", sep=';', decimal=',', index=False)
df

KeyError: "['FID', 'pointid', 'grid_code'] not found in axis"

In [22]:
df = pd.read_csv("../../data/final_dataset/original/gambia_lat_and_long.csv")
df.rename(columns={'lat': 'temp', 'long': 'lat'}, inplace=True)
df.rename(columns={'temp': 'long'}, inplace=True)
df.to_csv("../../data/final_dataset/original/gambia_lat_and_long.csv", index=False)
df

           long        lat
0    -16.670616  13.488346
1    -16.665998  13.488376
2    -16.684438  13.483734
3    -16.679820  13.483765
4    -16.675202  13.483796
...         ...        ...
2869 -16.746177  13.076569
2870 -16.741567  13.076600
2871 -16.736957  13.076631
2872 -16.732347  13.076662
2873 -16.727737  13.076693

[2874 rows x 2 columns]

In [27]:
df = pd.read_csv("../../data/final_dataset/processed_data/merged_data.csv")
df['Date'] = pd.to_datetime('2023-12-01')
df

,long,lat,Drainage_density,Slope_tif2,Hydrogeo,Curvatu_tif2,NASADEM_HGT,DepthToGroundwater,Date
0,-16.670616,13.488346,13.499496,0.000000,5.0,-0.000000e+00,0.0,0-7,2023-12-01
1,-16.665998,13.488376,14.573664,0.000000,5.0,-0.000000e+00,0.0,0-7,2023-12-01
2,-16.684438,13.483734,15.609715,0.000000,5.0,-0.000000e+00,0.0,0-7,2023-12-01
3,-16.679820,13.483765,13.571120,0.000000,5.0,-0.000000e+00,0.0,0-7,2023-12-01
4,-16.675202,13.483796,13.922873,0.000000,5.0,-0.000000e+00,0.0,0-7,2023-12-01
...,...,...,...,...,...,...,...,...,...
2869,-16.746177,13.076569,34.977886,1.642019,5.0,2.592000e+09,9.0,0-7,2023-12-01
2870,-16.741567,13.076600,44.632805,2.321531,5.0,-5.184000e+09,2.0,0-7,2023-12-01
2871,-16.736957,13.076631,49.922588,2.706814,5.0,3.888000e+09,2.0,0-7,2023-12-01
2872,-16.732347,13.076662,49.457001,0.734494,5.0,-3.888000e+09,3.0,0-7,2023-12-01
2873,-16.727737,13.076693,48.282181,0.929039,5.0,-1.296000e+09,4.0,0-7,2023-12-01

In [28]:
df.to_csv("../../data/final_dataset/processed_data/merged_data.csv")