In [1]:
!pip3 install -q --upgrade pip
!pip3 install -q pandas numpy matplotlib seaborn openpyxl climateserv requests netCDF4 xarray pyproj geopandas

In [2]:
import pandas as pd
from scipy.spatial import KDTree
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os
import netCDF4 as nc
import numpy as np
import xarray as xr
import pandas as pd
import sys
from pathlib import Path
# Calculate the path to the scripts folder relative to the current notebook.
scripts_dir = Path("../../").resolve()

# Add the scripts directory to the sys.path if it's not already there.
if str(scripts_dir) not in sys.path:
    sys.path.append(str(scripts_dir))

from scripts.preprocessing.jay_files import read_and_convert_to_geodataframe, find_nearest

ModuleNotFoundError: No module named 'scripts.preprocessing.jay_files'

In [3]:
def analyze_nasadem_file(file_path: str) -> None:
    """
    Analyze a NASADEM NetCDF file and print out its contents, such as variable names,
    dimensions, and min/max values for longitude and latitude.

    Args:
    file_path (str): The path to the NASADEM NetCDF file.
    """
    # Open the NetCDF file
    dataset = nc.Dataset(file_path, 'r')

    # Print general information about the file
    print('##################################################')
    print(f"Analyzing file: {file_path}")
    print("Variables in this file:")
    for var in dataset.variables:
        print(f" - {var}: {dataset.variables[var].dimensions}, {dataset.variables[var].shape}")

    # Check for common variables like longitude and latitude
    if 'lon' in dataset.variables and 'lat' in dataset.variables:
        lon = dataset.variables['lon'][:]
        lat = dataset.variables['lat'][:]
        print(f"Longitude range: {np.min(lon)} to {np.max(lon)}")
        print(f"Latitude range: {np.min(lat)} to {np.max(lat)}")
    
    # Close the dataset
    dataset.close()

# Paths to your files
file_paths = [
    '../../data/original_data/jay_files/Topography_Products/Curvature.nc',
    '../../data/original_data/jay_files/Topography_Products/Drainage_Density.nc',
    '../../data/original_data/jay_files/Topography_Products/Slope.nc',
    '../../data/original_data/jay_files/hydrogeology.nc'
]

# Analyze each file
for path in file_paths:
    analyze_nasadem_file(file_path=path)

##################################################
Analyzing file: ../../data/original_data/jay_files/Topography_Products/Curvature.nc
Variables in this file:
 - lon: ('lon',), (11915,)
 - lat: ('lat',), (2872,)
 - Curvatu_tif2: ('lat', 'lon'), (2872, 11915)
Longitude range: -17.078611111124776 to -13.769166666697293
Latitude range: 13.077222222232688 to 13.874722222230263
##################################################
Analyzing file: ../../data/original_data/jay_files/Topography_Products/Drainage_Density.nc
Variables in this file:
 - lon: ('lon',), (10937,)
 - lat: ('lat',), (2873,)
 - Drainage_density: ('lat', 'lon'), (2873, 10937)
Longitude range: -16.806781756020996 to -13.769003978257615
Latitude range: 13.077083333343863 to 13.874861111119214
##################################################
Analyzing file: ../../data/original_data/jay_files/Topography_Products/Slope.nc
Variables in this file:
 - lon: ('lon',), (11915,)
 - lat: ('lat',), (2872,)
 - Slope_tif2: ('lat', 'lon'), (2872, 11915)
Longitude range: -17.078611111124776 to -13.769166666697293
Latitude range: 13.077222222232688 to 13.874722222230263
##################################################
Analyzing file: ../../data/original_data/jay_files/hydrogeology.nc
Variables in this file:
 - lon: ('lon',), (247,)
 - lat: ('lat',), (535,)
 - Hydrogeo: ('lat', 'lon'), (535, 247)
Longitude range: -17.52524 to -12.605240000000105
Latitude range: 10.93111200000023 to 21.611112000000002

In [4]:
import xarray as xr
import pandas as pd

def nc_to_dataframe(file_path: str, var_name: str, dataset_name: str) -> pd.DataFrame:
    """
    Convert a NetCDF file to a pandas DataFrame and print the percentage of NaN values for the specified variable.

    Args:
    file_path (str): Path to the .nc file.
    var_name (str): Name of the variable in the .nc file to convert.
    dataset_name (str): Descriptive name for the dataset.

    Returns:
    pd.DataFrame: DataFrame representation of the NetCDF variable.
    """
    # Open the .nc file
    ds = xr.open_dataset(file_path)

    # Select the variable
    data = ds[var_name]

    # Convert to DataFrame
    df = data.to_dataframe().reset_index()

    # Calculate and print the percentage of NaN values
    nan_percentage = df[var_name].isna().mean() * 100
    print(f"DataFrame from {file_path} - Variable: {var_name}")
    print(df.head())  # Display the first few rows of the DataFrame
    print(f"Percentage of NaN values in '{var_name}': {nan_percentage:.2f}%")
    print('-' * 50)  # Separator

    # Store the DataFrame in a global variable
    globals()[f'df_{dataset_name}'] = df

# File paths, variable names, and dataset names
file_var_pairs = [
    ('../../data/original_data/jay_files/Topography_Products/Curvature.nc', 'Curvatu_tif2', 'curvature'),
    ('../../data/original_data/jay_files/Topography_Products/Drainage_Density.nc', 'Drainage_density', 'drainage_density'),
    ('../../data/original_data/jay_files/Topography_Products/Slope.nc', 'Slope_tif2', 'slope'),
    ('../../data/original_data/jay_files/hydrogeology.nc', 'Hydrogeo', 'Hydrogeology')
]

# Process each file
for file_path, var_name, dataset_name in file_var_pairs:
    nc_to_dataframe(file_path=file_path, var_name=var_name, dataset_name=dataset_name)

# After running this script, you can access each DataFrame directly, e.g., df_ndvi, df_ndwi, etc.

DataFrame from ../../data/original_data/jay_files/Topography_Products/Curvature.nc - Variable: Curvatu_tif2
         lat        lon  Curvatu_tif2
0  13.874722 -17.078611           NaN
1  13.874722 -17.078333           NaN
2  13.874722 -17.078056           NaN
3  13.874722 -17.077778           NaN
4  13.874722 -17.077500           NaN
Percentage of NaN values in 'Curvatu_tif2': 2.38%
--------------------------------------------------
DataFrame from ../../data/original_data/jay_files/Topography_Products/Drainage_Density.nc - Variable: Drainage_density
         lat        lon  Drainage_density
0  13.874861 -16.806782               0.0
1  13.874861 -16.806504               0.0
2  13.874861 -16.806226               0.0
3  13.874861 -16.805948               0.0
4  13.874861 -16.805671               0.0
Percentage of NaN values in 'Drainage_density': 0.00%
--------------------------------------------------
DataFrame from ../../data/original_data/jay_files/Topography_Products/Slope.nc - Variable: Slope_tif2
         lat        lon  Slope_tif2
0  13.874722 -17.078611         NaN
1  13.874722 -17.078333         NaN
2  13.874722 -17.078056         NaN
3  13.874722 -17.077778         NaN
4  13.874722 -17.077500         NaN
Percentage of NaN values in 'Slope_tif2': 2.46%
--------------------------------------------------
DataFrame from ../../data/original_data/jay_files/hydrogeology.nc - Variable: Hydrogeo
         lat       lon  Hydrogeo
0  21.611112 -17.52524       NaN
1  21.611112 -17.50524       NaN
2  21.611112 -17.48524       NaN
3  21.611112 -17.46524       NaN
4  21.611112 -17.44524       NaN
Percentage of NaN values in 'Hydrogeo': 51.56%
--------------------------------------------------

In [5]:
def find_nearest(df_wells: pd.DataFrame, df_curvature: pd.DataFrame) -> pd.DataFrame:
    """
    Find nearest neighbor in df_curvature for each point in df_wells
    and merge the data.
    """
    # Build KDTree for efficient nearest neighbor search
    tree = KDTree(df_curvature[['lat', 'lon']])

    merged_rows = []

    for index, well in df_wells.iterrows():
        print(f"Analyzing well {index + 1}/{len(df_wells)}: {well['Name ']}")

        # Find the nearest neighbor for this well
        distance, nearest_idx = tree.query([well['Latitude'], well['Longitude']], k=1)
        nearest_row = df_curvature.iloc[nearest_idx]

        print(f"Closest match found at index {nearest_idx}: {nearest_row['Curvatu_tif2']}")
        
        # Merge the data
        merged_row = pd.concat([well, nearest_row])
        print(f"Merged data: {merged_row}\n")

        merged_rows.append(merged_row)

    merged_df = pd.DataFrame(merged_rows).reset_index(drop=True)
    return merged_df

def save_data(merged_df: pd.DataFrame, save_path: str) -> None:
    """Save the merged data to a CSV file."""
    merged_df.to_csv(save_path, index=False)

In [6]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_final.csv')

In [17]:
df_Hydrogeology

              lat       lon  Hydrogeo
0       21.611112 -17.52524       NaN
1       21.611112 -17.50524       NaN
2       21.611112 -17.48524       NaN
3       21.611112 -17.46524       NaN
4       21.611112 -17.44524       NaN
...           ...       ...       ...
132140  10.931112 -12.68524       NaN
132141  10.931112 -12.66524       NaN
132142  10.931112 -12.64524       NaN
132143  10.931112 -12.62524       NaN
132144  10.931112 -12.60524       NaN

[132145 rows x 3 columns]

In [14]:
df_wells
rows_with_nan = df_wells[df_wells.isnull().any(axis=1)]
rows_with_nan

,ID,Name,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,Curvatu_tif2,Drainage_density,Slope_tif2,Hydrogeo,NASADEM_HGT
15,NWP20003,Mariama Kunda OB2,13.358333,-16.726389,15.47,0-7,3.888000e+09,84.816689,0.464550,NaN,19.0
32,NWP20002,Brufut OB7,13.395665,-16.743327,17.53,0-7,-0.000000e+00,41.551628,2.500146,NaN,17.0

In [21]:
import pandas as pd
from scipy.spatial import KDTree
import numpy as np

# Assuming df_wells and df_Hidrogeology are already defined

def find_nearest_hydrogeo(well_lat: float, well_lon: float, kdtree, hydrogeo_coords, hydrogeo_values, max_neighbors=10) -> float:
    """
    Find the nearest non-NaN hydrogeo value for given well coordinates.

    Args:
        well_lat (float): Latitude of the well.
        well_lon (float): Longitude of the well.
        kdtree (KDTree): KDTree for nearest neighbor search.
        hydrogeo_coords (np.array): Array of lat-lon coordinates for KDTree.
        hydrogeo_values (np.array): Array of hydrogeo values corresponding to the KDTree.
        max_neighbors (int): Maximum number of neighbors to consider.

    Returns:
        float: The nearest non-NaN hydrogeo value.
    """
    # Query a set of nearest neighbors
    distances, indices = kdtree.query([well_lat, well_lon], k=max_neighbors)
    
    for index in indices:
        if not np.isnan(hydrogeo_values[index]):
            return hydrogeo_values[index]
    
    # Return NaN if all nearest neighbors have NaN values
    return np.nan

In [22]:
# Prepare data for KDTree
hydrogeo_coords = df_Hydrogeology[['lat', 'lon']].values
hydrogeo_values = df_Hydrogeology['Hydrogeo'].values

# Create KDTree
kdtree = KDTree(hydrogeo_coords)

In [24]:
# Update NaN values in df_wells
for index, row in df_wells[df_wells['Hydrogeo'].isnull()].iterrows():
    nearest_hydrogeo = find_nearest_hydrogeo(row['Latitude'], row['Longitude'], kdtree, hydrogeo_coords, hydrogeo_values)
    df_wells.at[index, 'Hydrogeo'] = nearest_hydrogeo

In [26]:
df_wells

# save df_welss as csv
df_wells.to_csv('../../data/processed_data/igrac/wells_gambia_final.csv', index=False)

In [19]:
df_wells.columns

Index(['ID', 'Name ', 'Status', 'Latitude', 'Longitude',
       'Ground surface elevation', 'DepthToGroundwater',
       'GroundwaterProductivity', 'GroundwaterStorage'],
      dtype='object')

In [21]:
merged_df = find_nearest(df_wells=df_wells, df_curvature=df_curvature)

save_data(merged_df=merged_df, save_path='../../data/processed_data/igrac/wells_gambia_updated_jay.csv')

Analyzing well 1/47: Yoro Beri Kunda
Closest match found at index 16141267: -1296000000.0
Merged data: ID                               0000058001
Name                        Yoro Beri Kunda
Status                               Active
Latitude                          13.498482
Longitude                        -14.757303
Ground surface elevation               17.4
DepthToGroundwater                      0-7
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                               13.498611
lon                              -14.757222
Curvatu_tif2                  -1296000000.0
dtype: object

Analyzing well 2/47: Pakaliba
Closest match found at index 15341216: 3888000000.0
Merged data: ID                            0000035001
Name                            Pakaliba
Status                            Active
Latitude                       13.517245
Longitude                     -15.242125
Ground surface elevation           13.34
DepthToGroundwater                   0-7
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.517222
lon                           -15.242222
Curvatu_tif2                3888000000.0
dtype: object

Analyzing well 3/47: Somita
Closest match found at index 28563062: 2592000000.0
Merged data: ID                            0000024001
Name                              Somita
Status                            Active
Latitude                       13.208963
Longitude                     -16.298932
Ground surface elevation           27.31
DepthToGroundwater                   0-7
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.208889
lon                           -16.298889
Curvatu_tif2                2592000000.0
dtype: object

Analyzing well 4/47: Taneneh
Closest match found at index 27525716: 7776000000.0
Merged data: ID                            0000023001
Name                             Taneneh
Status                            Active
Latitude                       13.233057
Longitude                     -16.504728
Ground surface elevation           14.32
DepthToGroundwater                   0-7
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.233056
lon                           -16.504722
Curvatu_tif2                7776000000.0
dtype: object

Analyzing well 5/47: Mandinari OB3
Closest match found at index 21960934: -0.0
Merged data: ID                             0000020007
Name                        Mandinari OB3
Status                             Active
Latitude                        13.362761
Longitude                      -16.637219
Ground surface elevation            30.47
DepthToGroundwater                   7-25
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                             13.362778
lon                            -16.637222
Curvatu_tif2                         -0.0
dtype: object

Analyzing well 6/47: Kerewan OB5
Closest match found at index 22044381: -0.0
Merged data: ID                           0000020006
Name                        Kerewan OB5
Status                           Active
Latitude                       13.36081
Longitude                    -16.625421
Ground surface elevation          23.47
DepthToGroundwater                 7-25
GroundwaterProductivity             >20
GroundwaterStorage              >50,000
lat                           13.360833
lon                          -16.625556
Curvatu_tif2                       -0.0
dtype: object

Analyzing well 7/47: Baffuloto OB4
Closest match found at index 23366826: -5184000000.0
Merged data: ID                             0000022001
Name                        Baffuloto OB4
Status                             Active
Latitude                        13.329997
Longitude                      -16.658777
Ground surface elevation            28.62
DepthToGroundwater                    0-7
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                                 13.33
lon                            -16.658889
Curvatu_tif2                -5184000000.0
dtype: object

Analyzing well 8/47: Sinchu Sore OB1
Closest match found at index 21019496: 2592000000.0
Merged data: ID                               0000020005
Name                        Sinchu Sore OB1
Status                               Active
Latitude                          13.384752
Longitude                        -16.679721
Ground surface elevation              25.57
DepthToGroundwater                     7-25
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                               13.384722
lon                              -16.679722
Curvatu_tif2                   2592000000.0
dtype: object

Analyzing well 9/47: Wellingara  EX1
Closest match found at index 20578697: 2592000000.0
Merged data: ID                               0000020009
Name                        Wellingara  EX1
Status                               Active
Latitude                          13.394916
Longitude                        -16.664077
Ground surface elevation              20.48
DepthToGroundwater                      0-7
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                                  13.395
lon                              -16.664167
Curvatu_tif2                   2592000000.0
dtype: object

Analyzing well 10/47: Bijilo OB6
Closest match found at index 19470413: -6480000000.0
Merged data: ID                            0000000001
Name                          Bijilo OB6
Status                            Active
Latitude                       13.420804
Longitude                     -16.716666
Ground surface elevation           19.47
DepthToGroundwater                   0-7
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.420833
lon                           -16.716667
Curvatu_tif2               -6480000000.0
dtype: object

Analyzing well 11/47: Farafenni
Closest match found at index 12504225: -1296000000.0
Merged data: ID                              NWP45001
Name                           Farafenni
Status                            Active
Latitude                       13.583399
Longitude                     -15.581435
Ground surface elevation           14.34
DepthToGroundwater                 25-50
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.583333
lon                           -15.581389
Curvatu_tif2               -1296000000.0
dtype: object

Analyzing well 12/47: Brikama OB1
Closest match found at index 24534493: 3888000000.0
Merged data: ID                              NWP22002
Name                         Brikama OB1
Status                            Active
Latitude                       13.302783
Longitude                      -16.65972
Ground surface elevation           25.64
DepthToGroundwater                  7-25
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.302778
lon                           -16.659722
Curvatu_tif2                3888000000.0
dtype: object

Analyzing well 13/47: Ballanghar
Closest match found at index 8739742: -7776000000.0
Merged data: ID                              NWP50001
Name                          Ballanghar
Status                            Active
Latitude                       13.671095
Longitude                     -15.398813
Ground surface elevation           14.44
DepthToGroundwater                 25-50
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.671111
lon                           -15.398889
Curvatu_tif2               -7776000000.0
dtype: object

Analyzing well 14/47: Kerr Sait Maram
Closest match found at index 10314580: 2592000000.0
Merged data: ID                                 NWP54002
Name                        Kerr Sait Maram
Status                               Active
Latitude                          13.634436
Longitude                        -14.827116
Ground surface elevation              18.39
DepthToGroundwater                    25-50
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                               13.634444
lon                              -14.827222
Curvatu_tif2                   2592000000.0
dtype: object

Analyzing well 15/47: Mariama Kunda JO1
Closest match found at index 20983870: -3888000000.0
Merged data: ID                                   NWP20008
Name                        Mariama Kunda JO1
Status                                 Active
Latitude                            13.385648
Longitude                           -16.64671
Ground surface elevation                14.84
DepthToGroundwater                        0-7
GroundwaterProductivity                   >20
GroundwaterStorage                    >50,000
lat                                 13.385556
lon                                -16.646667
Curvatu_tif2                    -3888000000.0
dtype: object

Analyzing well 16/47: Mariama Kunda OB2
Closest match found at index 22151253: 3888000000.0
Merged data: ID                                   NWP20003
Name                        Mariama Kunda OB2
Status                                 Active
Latitude                            13.358333
Longitude                          -16.726389
Ground surface elevation                15.47
DepthToGroundwater                        0-7
GroundwaterProductivity                   NaN
GroundwaterStorage                        NaN
lat                                 13.358333
lon                                -16.726389
Curvatu_tif2                     3888000000.0
dtype: object

Analyzing well 17/47: Brifu
Closest match found at index 15858258: 1296000000.0
Merged data: ID                              NWP62001
Name                               Brifu
Status                            Active
Latitude                       13.505154
Longitude                     -13.937383
Ground surface elevation           20.35
DepthToGroundwater                 25-50
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.505278
lon                             -13.9375
Curvatu_tif2                1296000000.0
dtype: object

Analyzing well 18/47: Kantele Kunda
Closest match found at index 20457676: 5184000000.0
Merged data: ID                               NWP61001
Name                        Kantele Kunda
Status                             Active
Latitude                        13.398061
Longitude                      -13.874254
Ground surface elevation             49.4
DepthToGroundwater                    0-7
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                             13.398056
lon                            -13.874167
Curvatu_tif2                 5184000000.0
dtype: object

Analyzing well 19/47: Mansajang Kunda
Closest match found at index 24817378: -9072000000.0
Merged data: ID                                 NWP60001
Name                        Mansajang Kunda
Status                               Active
Latitude                          13.296359
Longitude                        -14.204224
Ground surface elevation              19.34
DepthToGroundwater                      0-7
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                               13.296389
lon                              -14.204167
Curvatu_tif2                  -9072000000.0
dtype: object

Analyzing well 20/47: Santanto Bubu
Closest match found at index 22016069: -5184000000.0
Merged data: ID                               NWP58002
Name                        Santanto Bubu
Status                             Active
Latitude                        13.361805
Longitude                      -14.560836
Ground surface elevation            40.39
DepthToGroundwater                    0-7
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                             13.361667
lon                            -14.560833
Curvatu_tif2                -5184000000.0
dtype: object

Analyzing well 21/47: Yoro Beri Kunda
Closest match found at index 16141267: -1296000000.0
Merged data: ID                                 NWP58001
Name                        Yoro Beri Kunda
Status                               Active
Latitude                          13.498482
Longitude                        -14.757302
Ground surface elevation               17.4
DepthToGroundwater                      0-7
GroundwaterProductivity                 >20
GroundwaterStorage                  >50,000
lat                               13.498611
lon                              -14.757222
Curvatu_tif2                  -1296000000.0
dtype: object

Analyzing well 22/47: Denton Boiram
Closest match found at index 15854695: 5184000000.0
Merged data: ID                               NWP58011
Name                        Denton Boiram
Status                             Active
Latitude                        13.505244
Longitude                      -14.927267
Ground surface elevation            13.45
DepthToGroundwater                  25-50
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                             13.505278
lon                            -14.927222
Curvatu_tif2                 5184000000.0
dtype: object

Analyzing well 23/47: Pakaliba
Closest match found at index 15341216: 3888000000.0
Merged data: ID                              NWP35001
Name                            Pakaliba
Status                            Active
Latitude                       13.517245
Longitude                     -15.242125
Ground surface elevation           13.34
DepthToGroundwater                   0-7
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.517222
lon                           -15.242222
Curvatu_tif2                3888000000.0
dtype: object

Analyzing well 24/47: Karantaba
Closest match found at index 18593018: -2592000000.0
Merged data: ID                              NWP33001
Name                           Karantaba
Status                            Active
Latitude                       13.441317
Longitude                     -15.517941
Ground surface elevation           27.39
DepthToGroundwater                 25-50
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.441389
lon                           -15.518056
Curvatu_tif2               -2592000000.0
dtype: object

Analyzing well 25/47: Kwinella
Closest match found at index 20534172: 1296000000.0
Merged data: ID                              NWP31001
Name                            Kwinella
Status                            Active
Latitude                       13.396106
Longitude                     -15.793341
Ground surface elevation           18.32
DepthToGroundwater                 25-50
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.396111
lon                           -15.793333
Curvatu_tif2                1296000000.0
dtype: object

Analyzing well 26/47: Mayork
Closest match found at index 27765988: 6480000000.0
Merged data: ID                              NWP27001
Name                              Mayork
Status                            Active
Latitude                       13.227523
Longitude                     -15.957015
Ground surface elevation           22.38
DepthToGroundwater                  7-25
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                              13.2275
lon                           -15.956944
Curvatu_tif2                6480000000.0
dtype: object

Analyzing well 27/47: Niofelleh O5
Closest match found at index 27215173: -1296000000.0
Merged data: ID                              NWP21002
Name                        Niofelleh O5
Status                            Active
Latitude                       13.240281
Longitude                     -16.713889
Ground surface elevation           21.68
DepthToGroundwater                  7-25
GroundwaterProductivity              NaN
GroundwaterStorage                   NaN
lat                            13.240278
lon                           -16.713889
Curvatu_tif2               -1296000000.0
dtype: object

Analyzing well 28/47: Brikama O6A
Closest match found at index 24534493: 3888000000.0
Merged data: ID                              NWP22003
Name                         Brikama O6A
Status                            Active
Latitude                       13.302774
Longitude                     -16.659717
Ground surface elevation           27.56
DepthToGroundwater                  7-25
GroundwaterProductivity              >20
GroundwaterStorage               >50,000
lat                            13.302778
lon                           -16.659722
Curvatu_tif2                3888000000.0
dtype: object

Analyzing well 29/47: Baffuloto OB4
Closest match found at index 23366826: -5184000000.0
Merged data: ID                               NWP22001
Name                        Baffuloto OB4
Status                           Inactive
Latitude                        13.329997
Longitude                      -16.658777
Ground surface elevation            28.62
DepthToGroundwater                    0-7
GroundwaterProductivity               >20
GroundwaterStorage                >50,000
lat                                 13.33
lon                            -16.658889
Curvatu_tif2                -5184000000.0
dtype: object

Analyzing well 30/47: Wellingara EX5
Closest match found at index 20542916: -0.0
Merged data: ID                                NWP20004
Name                        Wellingara EX5
Status                              Active
Latitude                         13.395944
Longitude                       -16.674084
Ground surface elevation             22.56
DepthToGroundwater                     0-7
GroundwaterProductivity                >20
GroundwaterStorage                 >50,000
lat                              13.395833
lon                             -16.674167
Curvatu_tif2                          -0.0
dtype: object

Analyzing well 31/47: Jambur JO2
Closest match found at index 23342821: -3888000000.0
Merged data: ID                              NWP20023
Name                          Jambur JO2
Status                            Active
Latitude                       13.330587
Longitude                     -16.707416
Ground surface elevation           24.73
DepthToGroundwater                   0-7
GroundwaterProductivity              NaN
GroundwaterStorage                   NaN
lat                            13.330556
lon                             -16.7075
Curvatu_tif2               -3888000000.0
dtype: object

Analyzing well 32/47: Jambur OB3
Closest match found at index 23390490: -1296000000.0
Merged data: ID                              NWP20025
Name                          Jambur OB3
Status                            Active
Latitude                       13.329582
Longitude                        -16.705
Ground surface elevation           27.56
DepthToGroundwater                   0-7
GroundwaterProductivity              NaN
GroundwaterStorage                   NaN
lat                            13.329444
lon                              -16.705
Curvatu_tif2               -1296000000.0
dtype: object

Analyzing well 33/47: Brufut OB7
Closest match found at index 20554582: -0.0
Merged data: ID                            NWP20002
Name                        Brufut OB7

In [22]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_updated_jay.csv')

In [24]:
df_wells.head()

,ID,Name,Status,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,GroundwaterProductivity,GroundwaterStorage,lat,lon,Curvatu_tif2
0,0000058001,Yoro Beri Kunda,Active,13.498482,-14.757303,17.40,0-7,>20,">50,000",13.498611,-14.757222,-1.296000e+09
1,0000035001,Pakaliba,Active,13.517245,-15.242125,13.34,0-7,>20,">50,000",13.517222,-15.242222,3.888000e+09
2,0000024001,Somita,Active,13.208963,-16.298932,27.31,0-7,>20,">50,000",13.208889,-16.298889,2.592000e+09
3,0000023001,Taneneh,Active,13.233057,-16.504728,14.32,0-7,>20,">50,000",13.233056,-16.504722,7.776000e+09
4,0000020007,Mandinari OB3,Active,13.362761,-16.637219,30.47,7-25,>20,">50,000",13.362778,-16.637222,-0.000000e+00

In [25]:
df_wells = df_wells.drop(columns=['lat', 'lon'])

In [26]:
df_wells = df_wells.rename(columns={'Name ': 'Name'})

In [38]:
df_wells.columns

Index(['ID', 'Name', 'Status', 'Latitude', 'Longitude',
       'Ground surface elevation', 'DepthToGroundwater',
       'GroundwaterProductivity', 'GroundwaterStorage', 'Curvatu_tif2'],
      dtype='object')

df_slope

In [35]:
df_drainage_density

                lat        lon  Drainage_density
0         13.874861 -16.806782          0.000000
1         13.874861 -16.806504          0.000000
2         13.874861 -16.806226          0.000000
3         13.874861 -16.805948          0.000000
4         13.874861 -16.805671          0.000000
...             ...        ...               ...
31421996  13.077083 -13.770115         10.032833
31421997  13.077083 -13.769837         10.017525
31421998  13.077083 -13.769560          9.998237
31421999  13.077083 -13.769282          9.974904
31422000  13.077083 -13.769004          9.947452

[31422001 rows x 3 columns]

In [37]:
from scipy.spatial import KDTree
import pandas as pd

def find_nearest_drainage_density(df_wells: pd.DataFrame, df_drainage_density: pd.DataFrame) -> pd.DataFrame:
    """
    Find nearest neighbor in df_drainage_density for each point in df_wells
    and merge the data.
    """
    # Build KDTree for efficient nearest neighbor search
    tree = KDTree(df_drainage_density[['lat', 'lon']])

    merged_rows = []

    for index, well in df_wells.iterrows():
        well_name = well.get('Name', 'Unknown')  # Fallback to 'Unknown' if 'Name' does not exist
        print(f"Analyzing well {index + 1}/{len(df_wells)}: {well_name}")

        # Find the nearest neighbor for this well
        distance, nearest_idx = tree.query([well['Latitude'], well['Longitude']], k=1)
        nearest_row = df_drainage_density.iloc[nearest_idx]

        print(f"Closest match found at index {nearest_idx}: {nearest_row['Drainage_density']}")

        # Merge the data
        merged_row = well.to_dict()
        merged_row.update(nearest_row.to_dict())
        merged_rows.append(merged_row)

        print(f"Merged data: {merged_row}\n")

    merged_df = pd.DataFrame(merged_rows)
    return merged_df

def save_data(merged_df: pd.DataFrame, save_path: str) -> None:
    """Save the merged data to a CSV file."""
    merged_df.to_csv(save_path, index=False)

In [39]:
merged_df = find_nearest_drainage_density(df_wells=df_wells, df_drainage_density=df_drainage_density)
save_data(merged_df=merged_df, save_path='../../data/processed_data/igrac/wells_gambia_updated_jay_2.csv')

Analyzing well 1/47: Yoro Beri Kunda
Closest match found at index 14827013: 88.64712524414062
Merged data: {'ID': '0000058001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984817969726, 'Longitude': -14.7573025092349, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'lat': 13.49847222223147, 'lon': -14.757337311587943, 'Drainage_density': 88.64712524414062}

Analyzing well 2/47: Pakaliba
Closest match found at index 14081552: 99.22616577148438
Merged data: {'ID': '0000035001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'lat': 13.517361111120302, 'lon': -15.24205953380869, 'Drainage_density': 99.22616577148438}

Analyzing well 3/47: Somita
Closest match found at index 26217817: 91.1672134399414
Merged data: {'ID': '0000024001', 'Name': 'Somita', 'Status': 'Active', 'Latitude': 13.2089634495222, 'Longitude': -16.2989315774497, 'Ground surface elevation': 27.31, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.209027777787906, 'lon': -16.29900397824801, 'Drainage_density': 91.1672134399414}

Analyzing well 4/47: Taneneh
Closest match found at index 25265557: 61.539432525634766
Merged data: {'ID': '0000023001', 'Name': 'Taneneh', 'Status': 'Active', 'Latitude': 13.2330569152907, 'Longitude': -16.5047276118478, 'Ground surface elevation': 14.32, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 7776000000.0, 'lat': 13.233194444454499, 'lon': -16.5048373115794, 'Drainage_density': 61.539432525634766}

Analyzing well 5/47: Mandinari OB3
Closest match found at index 20168438: 49.994441986083984
Merged data: {'ID': '0000020007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.36263888889855, 'lon': -16.63733731157815, 'Drainage_density': 49.994441986083984}

Analyzing well 6/47: Kerewan OB5
Closest match found at index 20245040: 51.5295295715332
Merged data: {'ID': '0000020006', 'Name': 'Kerewan OB5', 'Status': 'Active', 'Latitude': 13.3608101076666, 'Longitude': -16.625421, 'Ground surface elevation': 23.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.360694444454111, 'lon': -16.62539286713382, 'Drainage_density': 51.5295295715332}

Analyzing well 7/47: Baffuloto OB4
Closest match found at index 21458927: 69.56710815429688
Merged data: {'ID': '0000022001', 'Name': 'Baffuloto OB4', 'Status': 'Active', 'Latitude': 13.3299965083864, 'Longitude': -16.6587771128152, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'lat': 13.329861111120872, 'lon': -16.658726200466837, 'Drainage_density': 69.56710815429688}

Analyzing well 8/47: Sinchu Sore OB1
Closest match found at index 19293325: 58.6795539855957
Merged data: {'ID': '0000020005', 'Name': 'Sinchu Sore OB1', 'Status': 'Active', 'Latitude': 13.3847523742244, 'Longitude': -16.6797212636949, 'Ground surface elevation': 25.57, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.384861111120705, 'lon': -16.67983731157775, 'Drainage_density': 58.6795539855957}

Analyzing well 9/47: Wellingara  EX1
Closest match found at index 18899650: 92.5710678100586
Merged data: {'ID': '0000020009', 'Name': 'Wellingara  EX1', 'Status': 'Active', 'Latitude': 13.3949162854657, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.394861111120674, 'lon': -16.664003978244565, 'Drainage_density': 92.5710678100586}

Analyzing well 10/47: Bijilo OB6
Closest match found at index 17882319: 57.568843841552734
Merged data: {'ID': '0000000001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.4208039, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'lat': 13.420694444453929, 'lon': -16.716781756021845, 'Drainage_density': 57.568843841552734}

Analyzing well 11/47: Farafenni
Closest match found at index 11477324: 93.69303131103516
Merged data: {'ID': 'NWP45001', 'Name': 'Farafenni', 'Status': 'Active', 'Latitude': 13.5833985686072, 'Longitude': -15.5814345809414, 'Ground surface elevation': 14.34, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'lat': 13.583472222231212, 'lon': -15.581503978252103, 'Drainage_density': 93.69303131103516}

Analyzing well 12/47: Brikama OB1
Closest match found at index 22519812: 48.3131217956543
Merged data: {'ID': 'NWP22002', 'Name': 'Brikama OB1', 'Status': 'Active', 'Latitude': 13.302783, 'Longitude': -16.65972, 'Ground surface elevation': 25.64, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'lat': 13.30291666667651, 'lon': -16.659837311577938, 'Drainage_density': 48.3131217956543}

Analyzing well 13/47: Ballanghar
Closest match found at index 8032827: 69.14108276367188
Merged data: {'ID': 'NWP50001', 'Name': 'Ballanghar', 'Status': 'Active', 'Latitude': 13.6710948906584, 'Longitude': -15.3988131430328, 'Ground surface elevation': 14.44, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -7776000000.0, 'lat': 13.670972222230946, 'lon': -15.398726200474881, 'Drainage_density': 69.14108276367188}

Analyzing well 14/47: Kerr Sait Maram
Closest match found at index 9478569: 87.87499237060547
Merged data: {'ID': 'NWP54002', 'Name': 'Kerr Sait Maram', 'Status': 'Active', 'Latitude': 13.6344360305248, 'Longitude': -14.8271163457013, 'Ground surface elevation': 18.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.63430555556439, 'lon': -14.827059533809953, 'Drainage_density': 87.87499237060547}

Analyzing well 15/47: Mariama Kunda JO1
Closest match found at index 19260633: 77.43901824951172
Merged data: {'ID': 'NWP20008', 'Name': 'Mariama Kunda JO1', 'Status': 'Active', 'Latitude': 13.385648, 'Longitude': -16.64671, 'Ground surface elevation': 14.84, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -3888000000.0, 'lat': 13.385694444454035, 'lon': -16.646781756022506, 'Drainage_density': 77.43901824951172}

Analyzing well 16/47: Mariama Kunda OB2
Closest match found at index 20343109: 84.81668853759766
Merged data: {'ID': 'NWP20003', 'Name': 'Mariama Kunda OB2', 'Status': 'Active', 'Latitude': 13.358333, 'Longitude': -16.726389, 'Ground surface elevation': 15.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': 3888000000.0, 'lat': 13.358194444454119, 'lon': -16.726503978243976, 'Drainage_density': 84.81668853759766}

Analyzing well 17/47: Brifu
Closest match found at index 14567477: 112.75115203857422
Merged data: {'ID': 'NWP62001', 'Name': 'Brifu', 'Status': 'Active', 'Latitude': 13.50515436634058, 'Longitude': -13.9373833348597, 'Ground surface elevation': 20.35, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'lat': 13.505138888898117, 'lon': -13.937337311590436, 'Drainage_density': 112.75115203857422}

Analyzing well 18/47: Kantele Kunda
Closest match found at index 18778449: 110.63873291015625
Merged data: {'ID': 'NWP61001', 'Name': 'Kantele Kunda', 'Status': 'Active', 'Latitude': 13.3980614120398, 'Longitude': -13.8742538739228, 'Ground surface elevation': 49.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'lat': 13.398194444453997, 'lon': -13.874281756035073, 'Drainage_density': 110.63873291015625}

Analyzing well 19/47: Mansajang Kunda
Closest match found at index 22791140: 94.91595458984375
Merged data: {'ID': 'NWP60001', 'Name': 'Mansajang Kunda', 'Status': 'Active', 'Latitude': 13.29635905130469, 'Longitude': -14.204223870467, 'Ground surface elevation': 19.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -9072000000.0, 'lat': 13.296250000009863, 'lon': -14.204281756034069, 'Drainage_density': 94.91595458984375}

Analyzing well 20/47: Santanto Bubu
Closest match found at index 20208724: 115.05143737792969
Merged data: {'ID': 'NWP58002', 'Name': 'Santanto Bubu', 'Status': 'Active', 'Latitude': 13.36180451581788, 'Longitude': -14.5608362772974, 'Ground surface elevation': 40.39, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'lat': 13.361805555565219, 'lon': -14.560948422699651, 'Drainage_density': 115.05143737792969}

Analyzing well 21/47: Yoro Beri Kunda
Closest match found at index 14827013: 88.64712524414062
Merged data: {'ID': 'NWP58001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984818, 'Longitude': -14.7573025, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'lat': 13.49847222223147, 'lon': -14.757337311587943, 'Drainage_density': 88.64712524414062}

Analyzing well 22/47: Denton Boiram
Closest match found at index 14563913: 108.4712905883789
Merged data: {'ID': 'NWP58011', 'Name': 'Denton Boiram', 'Status': 'Active', 'Latitude': 13.50524383718899, 'Longitude': -14.9272670700342, 'Ground surface elevation': 13.45, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'lat': 13.505138888898117, 'lon': -14.927337311587426, 'Drainage_density': 108.4712905883789}

Analyzing well 23/47: Pakaliba
Closest match found at index 14081552: 99.22616577148438
Merged data: {'ID': 'NWP35001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'lat': 13.517361111120302, 'lon': -15.24205953380869, 'Drainage_density': 99.22616577148438}

Analyzing well 24/47: Karantaba
Closest match found at index 17077297: 61.61677169799805
Merged data: {'ID': 'NWP33001', 'Name': 'Karantaba', 'Status': 'Active', 'Latitude': 13.4413165456322, 'Longitude': -15.51794086557469, 'Ground surface elevation': 27.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -2592000000.0, 'lat': 13.441250000009422, 'lon': -15.517892867141185, 'Drainage_density': 61.61677169799805}

Analyzing well 25/47: Kwinella
Closest match found at index 18859036: 69.49993896484375
Merged data: {'ID': 'NWP31001', 'Name': 'Kwinella', 'Status': 'Active', 'Latitude': 13.39610557899178, 'Longitude': -15.7933413454468, 'Ground surface elevation': 18.32, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'lat': 13.395972222231782, 'lon': -15.793448422695903, 'Drainage_density': 69.49993896484375}

Analyzing well 26/47: Mayork
Closest match found at index 25486269: 62.69460678100586
Merged data: {'ID': 'NWP27001', 'Name': 'Mayork', 'Status': 'Active', 'Latitude': 13.22752284786961, 'Longitude': -15.957014970713, 'Ground surface elevation': 22.38, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 6480000000.0, 'lat': 13.22763888889896, 'lon': -15.957059533806516, 'Drainage_density': 62.69460678100586}

Analyzing well 27/47: Niofelleh O5
Closest match found at index 24980442: 69.20146942138672
Merged data: {'ID': 'NWP21002', 'Name': 'Niofelleh O5', 'Status': 'Active', 'Latitude': 13.2402809, 'Longitude': -16.7138891, 'Ground surface elevation': 21.68, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'lat': 13.2404166666767, 'lon': -16.714003978244094, 'Drainage_density': 69.20146942138672}

Analyzing well 28/47: Brikama O6A
Closest match found at index 22530749: 48.09586715698242
Merged data: {'ID': 'NWP22003', 'Name': 'Brikama O6A', 'Status': 'Active', 'Latitude': 13.30277368516689, 'Longitude': -16.659717, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'lat': 13.302638888898732, 'lon': -16.659837311577938, 'Drainage_density': 48.09586715698242}

Analyzing well 29/47: Baffuloto OB4
Closest match found at index 21458927: 69.56710815429688
Merged data: {'ID': 'NWP22001', 'Name': 'Baffuloto OB4', 'Status': 'Inactive', 'Latitude': 13.3299965, 'Longitude': -16.6587771, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'lat': 13.329861111120872, 'lon': -16.658726200466837, 'Drainage_density': 69.56710815429688}

Analyzing well 30/47: Wellingara EX5
Closest match found at index 18855866: 60.02045440673828
Merged data: {'ID': 'NWP20004', 'Name': 'Wellingara EX5', 'Status': 'Active', 'Latitude': 13.39594387212938, 'Longitude': -16.6740837455996, 'Ground surface elevation': 22.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.395972222231782, 'lon': -16.67400397824447, 'Drainage_density': 60.02045440673828}

Analyzing well 31/47: Jambur JO2
Closest match found at index 21425941: 108.10542297363281
Merged data: {'ID': 'NWP20023', 'Name': 'Jambur JO2', 'Status': 'Active', 'Latitude': 13.3305867518767, 'Longitude': -16.7074159260369, 'Ground surface elevation': 24.73, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -3888000000.0, 'lat': 13.330694444454203, 'lon': -16.70733731157749, 'Drainage_density': 108.10542297363281}

Analyzing well 32/47: Jambur OB3
Closest match found at index 21469697: 109.47606658935547
Merged data: {'ID': 'NWP20025', 'Name': 'Jambur OB3', 'Status': 'Active', 'Latitude': 13.32958160853759, 'Longitude': -16.7049997, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'lat': 13.329583333343095, 'lon': -16.70511508935529, 'Drainage_density': 109.47606658935547}

Analyzing well 33/47: Brufut OB7
Closest match found at index 18866553: 41.55162811279297
Merged data: {'ID': 'NWP20002', 'Name': 'Brufut OB7', 'Status': 'Active', 'Latitude': 13.39566517731999, 'Longitude': -16.7433273178684, 'Ground surface elevation': 17.53, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -0.0, 'lat': 13.395694444454005, 'lon': -16.74344842268826, 'Drainage_density': 41.55162811279297}

Analyzing well 34/47: Bijilo OB6
Closest match found at index 17882319: 57.568843841552734
Merged data: {'ID': 'NWP00001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.42080389502958, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'lat': 13.420694444453929, 'lon': -16.716781756021845, 'Drainage_density': 57.568843841552734}

Analyzing well 35/47: Fajara TB8
Closest match found at index 16099675: 32.400184631347656
Merged data: {'ID': 'NWP13001', 'Name': 'Fajara TB8', 'Status': 'Active', 'Latitude': 13.46607878570081, 'Longitude': -16.6927180557435, 'Ground surface elevation': 19.82, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.465972222231569, 'lon': -16.692615089355407, 'Drainage_density': 32.400184631347656}

Analyzing well 36/47: Wellingara EX1
Closest match found at index 18899650: 92.5710678100586
Merged data: {'ID': 'NWP20009', 'Name': 'Wellingara EX1', 'Status': 'Active', 'Latitude': 13.3949163, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.394861111120674, 'lon': -16.664003978244565, 'Drainage_density': 92.5710678100586}

Analyzing well 37/47: Mandinari OB3
Closest match found at index 20168438: 49.994441986083984
Merged data: {'ID': 'NWP20007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.36263888889855, 'lon': -16.63733731157815, 'Drainage_density': 49.994441986083984}

Analyzing well 38/47: Jambur Medina JO3
Closest match found at index 21940076: 79.9999008178711
Merged data: {'ID': 'NWP20024', 'Name': 'Jambur Medina JO3', 'Status': 'Active', 'Latitude': 13.317777, 'Longitude': -16.68056, 'Ground surface elevation': 29.9, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.317638888898687, 'lon': -16.680670644911075, 'Drainage_density': 79.9999008178711}

Analyzing well 39/47: Ndungu Kebbeh
Closest match found at index 13279290: 77.74502563476562
Merged data: {'ID': 'NWP40001', 'Name': 'Ndungu Kebbeh', 'Status': 'Active', 'Latitude': 13.53768898834499, 'Longitude': -16.3145439391254, 'Ground surface elevation': 26.37, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 6480000000.0, 'lat': 13.537638888898018, 'lon': -16.31455953380342, 'Drainage_density': 77.74502563476562}

Analyzing well 40/47: Gunjur
Closest match found at index 13739677: 105.9289321899414
Merged data: {'ID': 'NWP43001', 'Name': 'Gunjur', 'Status': 'Active', 'Latitude': 13.52594141368379, 'Longitude': -16.02751343777, 'Ground surface elevation': 19.43, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'lat': 13.525972222231387, 'lon': -16.02761508936168, 'Drainage_density': 105.9289321899414}

Analyzing well 41/47: Kerr Modi Ali
Closest match found at index 5003882: 112.17292785644531
Merged data: {'ID': 'NWP51001', 'Name': 'Kerr Modi Ali', 'Status': 'Active', 'Latitude': 13.7477866874478, 'Longitude': -15.2308252132835, 'Ground surface elevation': 16.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'lat': 13.747916666675156, 'lon': -15.230948422697614, 'Drainage_density': 112.17292785644531}

Analyzing well 42/47: Tabanani
Closest match found at index 9621611: 93.28510284423828

In [40]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_updated_jay_2.csv')

In [43]:
df_wells = df_wells.drop(columns=['lat', 'lon'])

In [44]:
df_wells.head()

,ID,Name,Status,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,GroundwaterProductivity,GroundwaterStorage,Curvatu_tif2,Drainage_density
0,0000058001,Yoro Beri Kunda,Active,13.498482,-14.757303,17.40,0-7,>20,">50,000",-1.296000e+09,88.647125
1,0000035001,Pakaliba,Active,13.517245,-15.242125,13.34,0-7,>20,">50,000",3.888000e+09,99.226166
2,0000024001,Somita,Active,13.208963,-16.298932,27.31,0-7,>20,">50,000",2.592000e+09,91.167213
3,0000023001,Taneneh,Active,13.233057,-16.504728,14.32,0-7,>20,">50,000",7.776000e+09,61.539433
4,0000020007,Mandinari OB3,Active,13.362761,-16.637219,30.47,7-25,>20,">50,000",-0.000000e+00,49.994442

In [48]:
df_slope

                lat        lon  Slope_tif2
0         13.874722 -17.078611         NaN
1         13.874722 -17.078333         NaN
2         13.874722 -17.078056         NaN
3         13.874722 -17.077778         NaN
4         13.874722 -17.077500         NaN
...             ...        ...         ...
34219875  13.077222 -13.770278         NaN
34219876  13.077222 -13.770000         NaN
34219877  13.077222 -13.769722         NaN
34219878  13.077222 -13.769444         NaN
34219879  13.077222 -13.769167         NaN

[34219880 rows x 3 columns]

In [50]:
from scipy.spatial import KDTree
import pandas as pd

def find_nearest_slope(df_wells: pd.DataFrame, df_slope: pd.DataFrame) -> pd.DataFrame:
    """
    Find nearest neighbor in df_slope for each point in df_wells
    and merge the data.
    """
    # Build KDTree for efficient nearest neighbor search
    tree = KDTree(df_slope[['lat', 'lon']])

    merged_rows = []

    for index, well in df_wells.iterrows():
        well_name = well.get('Name', 'Unknown')  # Fallback to 'Unknown' if 'Name' does not exist
        print(f"Analyzing well {index + 1}/{len(df_wells)}: {well_name}")

        # Find the nearest neighbor for this well
        distance, nearest_idx = tree.query([well['Latitude'], well['Longitude']], k=1)
        nearest_row = df_slope.iloc[nearest_idx]

        print(f"Closest match found at index {nearest_idx}: {nearest_row['Slope_tif2']}")

        # Merge the data
        merged_row = well.to_dict()
        merged_row.update(nearest_row.to_dict())
        merged_rows.append(merged_row)

        print(f"Merged data: {merged_row}\n")

    merged_df = pd.DataFrame(merged_rows)
    return merged_df

In [51]:
# Usage
merged_df = find_nearest_slope(df_wells=df_wells, df_slope=df_slope)
save_data(merged_df=merged_df, save_path='../../data/processed_data/igrac/wells_gambia_updated_jay_3.csv')

Analyzing well 1/47: Yoro Beri Kunda
Closest match found at index 16141267: 3.281345844268799
Merged data: {'ID': '0000058001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984817969726, 'Longitude': -14.7573025092349, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 88.64712524414062, 'lat': 13.498611111120296, 'lon': -14.757222222249844, 'Slope_tif2': 3.281345844268799}

Analyzing well 2/47: Pakaliba
Closest match found at index 15341216: 3.667654514312744
Merged data: {'ID': '0000035001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 99.22616577148438, 'lat': 13.51722222223135, 'lon': -15.242222222248369, 'Slope_tif2': 3.667654514312744}

Analyzing well 3/47: Somita
Closest match found at index 28563062: 0.656958818435669
Merged data: {'ID': '0000024001', 'Name': 'Somita', 'Status': 'Active', 'Latitude': 13.2089634495222, 'Longitude': -16.2989315774497, 'Ground surface elevation': 27.31, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 91.1672134399414, 'lat': 13.208888888898954, 'lon': -16.29888888890991, 'Slope_tif2': 0.656958818435669}

Analyzing well 4/47: Taneneh
Closest match found at index 27525716: 2.5001461505889893
Merged data: {'ID': '0000023001', 'Name': 'Taneneh', 'Status': 'Active', 'Latitude': 13.2330569152907, 'Longitude': -16.5047276118478, 'Ground surface elevation': 14.32, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 7776000000.0, 'Drainage_density': 61.539432525634766, 'lat': 13.233055555565548, 'lon': -16.504722222241302, 'Slope_tif2': 2.5001461505889893}

Analyzing well 5/47: Mandinari OB3
Closest match found at index 21960934: 1.7684314250946045
Merged data: {'ID': '0000020007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 49.994441986083984, 'lat': 13.362777777787375, 'lon': -16.63722222224005, 'Slope_tif2': 1.7684314250946045}

Analyzing well 6/47: Kerewan OB5
Closest match found at index 22044381: 1.1842325925827026
Merged data: {'ID': '0000020006', 'Name': 'Kerewan OB5', 'Status': 'Active', 'Latitude': 13.3608101076666, 'Longitude': -16.625421, 'Ground surface elevation': 23.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 51.5295295715332, 'lat': 13.360833333342937, 'lon': -16.625555555573495, 'Slope_tif2': 1.1842325925827026}

Analyzing well 7/47: Baffuloto OB4
Closest match found at index 23366826: 3.281345844268799
Merged data: {'ID': '0000022001', 'Name': 'Baffuloto OB4', 'Status': 'Active', 'Latitude': 13.3299965083864, 'Longitude': -16.6587771128152, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 69.56710815429688, 'lat': 13.330000000009697, 'lon': -16.658888888906514, 'Slope_tif2': 3.281345844268799}

Analyzing well 8/47: Sinchu Sore OB1
Closest match found at index 21019496: 0.9290392994880676
Merged data: {'ID': '0000020005', 'Name': 'Sinchu Sore OB1', 'Status': 'Active', 'Latitude': 13.3847523742244, 'Longitude': -16.6797212636949, 'Ground surface elevation': 25.57, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 58.6795539855957, 'lat': 13.384722222231753, 'lon': -16.67972222223965, 'Slope_tif2': 0.9290392994880676}

Analyzing well 9/47: Wellingara  EX1
Closest match found at index 20578697: 0.9853842258453369
Merged data: {'ID': '0000020009', 'Name': 'Wellingara  EX1', 'Status': 'Active', 'Latitude': 13.3949162854657, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 92.5710678100586, 'lat': 13.3950000000095, 'lon': -16.664166666684242, 'Slope_tif2': 0.9853842258453369}

Analyzing well 10/47: Bijilo OB6
Closest match found at index 19470413: 2.7851665019989014
Merged data: {'ID': '0000000001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.4208039, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'Drainage_density': 57.568843841552734, 'lat': 13.420833333342754, 'lon': -16.716666666683746, 'Slope_tif2': 2.7851665019989014}

Analyzing well 11/47: Farafenni
Closest match found at index 12504225: 1.4687471389770508
Merged data: {'ID': 'NWP45001', 'Name': 'Farafenni', 'Status': 'Active', 'Latitude': 13.5833985686072, 'Longitude': -15.5814345809414, 'Ground surface elevation': 14.34, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 93.69303131103516, 'lat': 13.58333333334226, 'lon': -15.581388888914004, 'Slope_tif2': 1.4687471389770508}

Analyzing well 12/47: Brikama OB1
Closest match found at index 24534493: 4.312499046325684
Merged data: {'ID': 'NWP22002', 'Name': 'Brikama OB1', 'Status': 'Active', 'Latitude': 13.302783, 'Longitude': -16.65972, 'Ground surface elevation': 25.64, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 48.3131217956543, 'lat': 13.302777777787558, 'lon': -16.65972222223984, 'Slope_tif2': 4.312499046325684}

Analyzing well 13/47: Ballanghar
Closest match found at index 8739742: 1.1842325925827026
Merged data: {'ID': 'NWP50001', 'Name': 'Ballanghar', 'Status': 'Active', 'Latitude': 13.6710948906584, 'Longitude': -15.3988131430328, 'Ground surface elevation': 14.44, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -7776000000.0, 'Drainage_density': 69.14108276367188, 'lat': 13.671111111119771, 'lon': -15.39888888891456, 'Slope_tif2': 1.1842325925827026}

Analyzing well 14/47: Kerr Sait Maram
Closest match found at index 10314580: 4.003250598907471
Merged data: {'ID': 'NWP54002', 'Name': 'Kerr Sait Maram', 'Status': 'Active', 'Latitude': 13.6344360305248, 'Longitude': -14.8271163457013, 'Ground surface elevation': 18.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 87.87499237060547, 'lat': 13.634444444453216, 'lon': -14.827222222249631, 'Slope_tif2': 4.003250598907471}

Analyzing well 15/47: Mariama Kunda JO1
Closest match found at index 20983870: 1.9973403215408325
Merged data: {'ID': 'NWP20008', 'Name': 'Mariama Kunda JO1', 'Status': 'Active', 'Latitude': 13.385648, 'Longitude': -16.64671, 'Ground surface elevation': 14.84, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -3888000000.0, 'Drainage_density': 77.43901824951172, 'lat': 13.385555555565084, 'lon': -16.646666666684407, 'Slope_tif2': 1.9973403215408325}

Analyzing well 16/47: Mariama Kunda OB2
Closest match found at index 22151253: 0.4645501971244812
Merged data: {'ID': 'NWP20003', 'Name': 'Mariama Kunda OB2', 'Status': 'Active', 'Latitude': 13.358333, 'Longitude': -16.726389, 'Ground surface elevation': 15.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 84.81668853759766, 'lat': 13.358333333342944, 'lon': -16.726388888905877, 'Slope_tif2': 0.4645501971244812}

Analyzing well 17/47: Brifu
Closest match found at index 15858258: 1.3934063911437988
Merged data: {'ID': 'NWP62001', 'Name': 'Brifu', 'Status': 'Active', 'Latitude': 13.50515436634058, 'Longitude': -13.9373833348597, 'Ground surface elevation': 20.35, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'Drainage_density': 112.75115203857422, 'lat': 13.505277777786942, 'lon': -13.937500000030115, 'Slope_tif2': 1.3934063911437988}

Analyzing well 18/47: Kantele Kunda
Closest match found at index 20457676: 1.9973403215408325
Merged data: {'ID': 'NWP61001', 'Name': 'Kantele Kunda', 'Status': 'Active', 'Latitude': 13.3980614120398, 'Longitude': -13.8742538739228, 'Ground surface elevation': 49.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'Drainage_density': 110.63873291015624, 'lat': 13.398055555565046, 'lon': -13.874166666696974, 'Slope_tif2': 1.9973403215408325}

Analyzing well 19/47: Mansajang Kunda
Closest match found at index 24817378: 2.32153058052063
Merged data: {'ID': 'NWP60001', 'Name': 'Mansajang Kunda', 'Status': 'Active', 'Latitude': 13.29635905130469, 'Longitude': -14.204223870467, 'Ground surface elevation': 19.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -9072000000.0, 'Drainage_density': 94.91595458984376, 'lat': 13.296388888898688, 'lon': -14.20416666669597, 'Slope_tif2': 2.32153058052063}

Analyzing well 20/47: Santanto Bubu
Closest match found at index 22016069: 2.102442502975464
Merged data: {'ID': 'NWP58002', 'Name': 'Santanto Bubu', 'Status': 'Active', 'Latitude': 13.36180451581788, 'Longitude': -14.5608362772974, 'Ground surface elevation': 40.39, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 115.05143737792967, 'lat': 13.361666666676268, 'lon': -14.560833333361552, 'Slope_tif2': 2.102442502975464}

Analyzing well 21/47: Yoro Beri Kunda
Closest match found at index 16141267: 3.281345844268799
Merged data: {'ID': 'NWP58001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984818, 'Longitude': -14.7573025, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 88.64712524414062, 'lat': 13.498611111120296, 'lon': -14.757222222249844, 'Slope_tif2': 3.281345844268799}

Analyzing well 22/47: Denton Boiram
Closest match found at index 15854695: 0.7344942092895508
Merged data: {'ID': 'NWP58011', 'Name': 'Denton Boiram', 'Status': 'Active', 'Latitude': 13.50524383718899, 'Longitude': -14.9272670700342, 'Ground surface elevation': 13.45, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'Drainage_density': 108.4712905883789, 'lat': 13.505277777786942, 'lon': -14.927222222249327, 'Slope_tif2': 0.7344942092895508}

Analyzing well 23/47: Pakaliba
Closest match found at index 15341216: 3.667654514312744
Merged data: {'ID': 'NWP35001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 99.22616577148438, 'lat': 13.51722222223135, 'lon': -15.242222222248369, 'Slope_tif2': 3.667654514312744}

Analyzing well 24/47: Karantaba
Closest match found at index 18593018: 1.9147183895111084
Merged data: {'ID': 'NWP33001', 'Name': 'Karantaba', 'Status': 'Active', 'Latitude': 13.4413165456322, 'Longitude': -15.51794086557469, 'Ground surface elevation': 27.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -2592000000.0, 'Drainage_density': 61.61677169799805, 'lat': 13.441388888898247, 'lon': -15.518055555580863, 'Slope_tif2': 1.9147183895111084}

Analyzing well 25/47: Kwinella
Closest match found at index 20534172: 3.113298177719116
Merged data: {'ID': 'NWP31001', 'Name': 'Kwinella', 'Status': 'Active', 'Latitude': 13.39610557899178, 'Longitude': -15.7933413454468, 'Ground surface elevation': 18.32, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'Drainage_density': 69.49993896484375, 'lat': 13.396111111120607, 'lon': -15.793333333357804, 'Slope_tif2': 3.113298177719116}

Analyzing well 26/47: Mayork
Closest match found at index 27765988: 1.3541624546051025
Merged data: {'ID': 'NWP27001', 'Name': 'Mayork', 'Status': 'Active', 'Latitude': 13.22752284786961, 'Longitude': -15.957014970713, 'Ground surface elevation': 22.38, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 6480000000.0, 'Drainage_density': 62.69460678100586, 'lat': 13.227500000010009, 'lon': -15.956944444468418, 'Slope_tif2': 1.3541624546051025}

Analyzing well 27/47: Niofelleh O5
Closest match found at index 27215173: 2.32153058052063
Merged data: {'ID': 'NWP21002', 'Name': 'Niofelleh O5', 'Status': 'Active', 'Latitude': 13.2402809, 'Longitude': -16.7138891, 'Ground surface elevation': 21.68, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 69.20146942138672, 'lat': 13.240277777787748, 'lon': -16.713888888905995, 'Slope_tif2': 2.32153058052063}

Analyzing well 28/47: Brikama O6A
Closest match found at index 24534493: 4.312499046325684
Merged data: {'ID': 'NWP22003', 'Name': 'Brikama O6A', 'Status': 'Active', 'Latitude': 13.30277368516689, 'Longitude': -16.659717, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 48.09586715698242, 'lat': 13.302777777787558, 'lon': -16.65972222223984, 'Slope_tif2': 4.312499046325684}

Analyzing well 29/47: Baffuloto OB4
Closest match found at index 23366826: 3.281345844268799
Merged data: {'ID': 'NWP22001', 'Name': 'Baffuloto OB4', 'Status': 'Inactive', 'Latitude': 13.3299965, 'Longitude': -16.6587771, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 69.56710815429688, 'lat': 13.330000000009697, 'lon': -16.658888888906514, 'Slope_tif2': 3.281345844268799}

Analyzing well 30/47: Wellingara EX5
Closest match found at index 20542916: 2.2982232570648193
Merged data: {'ID': 'NWP20004', 'Name': 'Wellingara EX5', 'Status': 'Active', 'Latitude': 13.39594387212938, 'Longitude': -16.6740837455996, 'Ground surface elevation': 22.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 60.02045440673828, 'lat': 13.39583333334283, 'lon': -16.674166666684147, 'Slope_tif2': 2.2982232570648193}

Analyzing well 31/47: Jambur JO2
Closest match found at index 23342821: 1.9973403215408325
Merged data: {'ID': 'NWP20023', 'Name': 'Jambur JO2', 'Status': 'Active', 'Latitude': 13.3305867518767, 'Longitude': -16.7074159260369, 'Ground surface elevation': 24.73, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -3888000000.0, 'Drainage_density': 108.1054229736328, 'lat': 13.330555555565251, 'lon': -16.707500000017166, 'Slope_tif2': 1.9973403215408325}

Analyzing well 32/47: Jambur OB3
Closest match found at index 23390490: 1.6745193004608154
Merged data: {'ID': 'NWP20025', 'Name': 'Jambur OB3', 'Status': 'Active', 'Latitude': 13.32958160853759, 'Longitude': -16.7049997, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 109.47606658935548, 'lat': 13.329444444454143, 'lon': -16.70500000001719, 'Slope_tif2': 1.6745193004608154}

Analyzing well 33/47: Brufut OB7
Closest match found at index 20554582: 2.5001461505889893
Merged data: {'ID': 'NWP20002', 'Name': 'Brufut OB7', 'Status': 'Active', 'Latitude': 13.39566517731999, 'Longitude': -16.7433273178684, 'Ground surface elevation': 17.53, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -0.0, 'Drainage_density': 41.55162811279297, 'lat': 13.395555555565053, 'lon': -16.74333333335016, 'Slope_tif2': 2.5001461505889893}

Analyzing well 34/47: Bijilo OB6
Closest match found at index 19470413: 2.7851665019989014
Merged data: {'ID': 'NWP00001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.42080389502958, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'Drainage_density': 57.568843841552734, 'lat': 13.420833333342754, 'lon': -16.716666666683746, 'Slope_tif2': 2.7851665019989014}

Analyzing well 35/47: Fajara TB8
Closest match found at index 17528354: 0.656958818435669
Merged data: {'ID': 'NWP13001', 'Name': 'Fajara TB8', 'Status': 'Active', 'Latitude': 13.46607878570081, 'Longitude': -16.6927180557435, 'Ground surface elevation': 19.82, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 32.400184631347656, 'lat': 13.466111111120394, 'lon': -16.692777777795083, 'Slope_tif2': 0.656958818435669}

Analyzing well 36/47: Wellingara EX1
Closest match found at index 20578697: 0.9853842258453369
Merged data: {'ID': 'NWP20009', 'Name': 'Wellingara EX1', 'Status': 'Active', 'Latitude': 13.3949163, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 92.5710678100586, 'lat': 13.3950000000095, 'lon': -16.664166666684242, 'Slope_tif2': 0.9853842258453369}

Analyzing well 37/47: Mandinari OB3
Closest match found at index 21960934: 1.7684314250946045
Merged data: {'ID': 'NWP20007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 49.994441986083984, 'lat': 13.362777777787375, 'lon': -16.63722222224005, 'Slope_tif2': 1.7684314250946045}

Analyzing well 38/47: Jambur Medina JO3
Closest match found at index 23891008: 2.5001461505889893
Merged data: {'ID': 'NWP20024', 'Name': 'Jambur Medina JO3', 'Status': 'Active', 'Latitude': 13.317777, 'Longitude': -16.68056, 'Ground surface elevation': 29.9, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 79.9999008178711, 'lat': 13.317777777787512, 'lon': -16.680555555572976, 'Slope_tif2': 2.5001461505889893}

Analyzing well 39/47: Ndungu Kebbeh
Closest match found at index 14455646: 1.6745193004608154

In [52]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_updated_jay_3.csv')

In [54]:
df_wells = df_wells.drop(columns=['lat', 'lon'])

In [55]:
df_wells.head()

,ID,Name,Status,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,GroundwaterProductivity,GroundwaterStorage,Curvatu_tif2,Drainage_density,Slope_tif2
0,0000058001,Yoro Beri Kunda,Active,13.498482,-14.757303,17.40,0-7,>20,">50,000",-1.296000e+09,88.647125,3.281346
1,0000035001,Pakaliba,Active,13.517245,-15.242125,13.34,0-7,>20,">50,000",3.888000e+09,99.226166,3.667655
2,0000024001,Somita,Active,13.208963,-16.298932,27.31,0-7,>20,">50,000",2.592000e+09,91.167213,0.656959
3,0000023001,Taneneh,Active,13.233057,-16.504728,14.32,0-7,>20,">50,000",7.776000e+09,61.539433,2.500146
4,0000020007,Mandinari OB3,Active,13.362761,-16.637219,30.47,7-25,>20,">50,000",-0.000000e+00,49.994442,1.768431

In [56]:
df_Hydrogeology

              lat       lon  Hydrogeo
0       21.611112 -17.52524       NaN
1       21.611112 -17.50524       NaN
2       21.611112 -17.48524       NaN
3       21.611112 -17.46524       NaN
4       21.611112 -17.44524       NaN
...           ...       ...       ...
132140  10.931112 -12.68524       NaN
132141  10.931112 -12.66524       NaN
132142  10.931112 -12.64524       NaN
132143  10.931112 -12.62524       NaN
132144  10.931112 -12.60524       NaN

[132145 rows x 3 columns]

In [57]:
from scipy.spatial import KDTree
import pandas as pd

def find_nearest_hydrogeology(df_wells: pd.DataFrame, df_hydrogeology: pd.DataFrame) -> pd.DataFrame:
    """
    Find nearest neighbor in df_hydrogeology for each point in df_wells
    and merge the data.
    """
    # Build KDTree for efficient nearest neighbor search
    tree = KDTree(df_hydrogeology[['lat', 'lon']])

    merged_rows = []

    for index, well in df_wells.iterrows():
        well_name = well.get('Name', 'Unknown')  # Fallback to 'Unknown' if 'Name' does not exist
        print(f"Analyzing well {index + 1}/{len(df_wells)}: {well_name}")

        # Find the nearest neighbor for this well
        distance, nearest_idx = tree.query([well['Latitude'], well['Longitude']], k=1)
        nearest_row = df_hydrogeology.iloc[nearest_idx]

        print(f"Closest match found at index {nearest_idx}: {nearest_row['Hydrogeo']}")

        # Merge the data
        merged_row = well.to_dict()
        merged_row.update(nearest_row.to_dict())
        merged_rows.append(merged_row)

        print(f"Merged data: {merged_row}\n")

    merged_df = pd.DataFrame(merged_rows)
    return merged_df

In [59]:
# Usage
merged_df = find_nearest_hydrogeology(df_wells=df_wells, df_hydrogeology=df_Hydrogeology)
save_data(merged_df=merged_df, save_path='../../data/processed_data/igrac/wells_gambia_updated_jay_4.csv')

Analyzing well 1/47: Yoro Beri Kunda
Closest match found at index 100420: 3.0
Merged data: {'ID': '0000058001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984817969726, 'Longitude': -14.7573025092349, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 88.64712524414062, 'Slope_tif2': 3.281345844268799, 'lat': 13.491112000000175, 'lon': -14.765240000000059, 'Hydrogeo': 3.0}

Analyzing well 2/47: Pakaliba
Closest match found at index 100149: 3.0
Merged data: {'ID': '0000035001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 99.22616577148438, 'Slope_tif2': 3.667654514312744, 'lat': 13.511112000000175, 'lon': -15.245240000000049, 'Hydrogeo': 3.0}

Analyzing well 3/47: Somita
Closest match found at index 103801: 5.0
Merged data: {'ID': '0000024001', 'Name': 'Somita', 'Status': 'Active', 'Latitude': 13.2089634495222, 'Longitude': -16.2989315774497, 'Ground surface elevation': 27.31, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 91.1672134399414, 'Slope_tif2': 0.656958818435669, 'lat': 13.211112000000181, 'lon': -16.305240000000026, 'Hydrogeo': 5.0}

Analyzing well 4/47: Taneneh
Closest match found at index 103544: 5.0
Merged data: {'ID': '0000023001', 'Name': 'Taneneh', 'Status': 'Active', 'Latitude': 13.2330569152907, 'Longitude': -16.5047276118478, 'Ground surface elevation': 14.32, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 7776000000.0, 'Drainage_density': 61.539432525634766, 'Slope_tif2': 2.5001461505889893, 'lat': 13.23111200000018, 'lon': -16.505240000000022, 'Hydrogeo': 5.0}

Analyzing well 5/47: Mandinari OB3
Closest match found at index 101808: 5.0
Merged data: {'ID': '0000020007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 49.994441986083984, 'Slope_tif2': 1.7684314250946045, 'lat': 13.371112000000178, 'lon': -16.64524000000002, 'Hydrogeo': 5.0}

Analyzing well 6/47: Kerewan OB5
Closest match found at index 102056: 5.0
Merged data: {'ID': '0000020006', 'Name': 'Kerewan OB5', 'Status': 'Active', 'Latitude': 13.3608101076666, 'Longitude': -16.625421, 'Ground surface elevation': 23.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 51.5295295715332, 'Slope_tif2': 1.1842325925827026, 'lat': 13.351112000000178, 'lon': -16.62524000000002, 'Hydrogeo': 5.0}

Analyzing well 7/47: Baffuloto OB4
Closest match found at index 102301: 5.0
Merged data: {'ID': '0000022001', 'Name': 'Baffuloto OB4', 'Status': 'Active', 'Latitude': 13.3299965083864, 'Longitude': -16.6587771128152, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 69.56710815429688, 'Slope_tif2': 3.281345844268799, 'lat': 13.331112000000179, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 8/47: Sinchu Sore OB1
Closest match found at index 101559: 5.0
Merged data: {'ID': '0000020005', 'Name': 'Sinchu Sore OB1', 'Status': 'Active', 'Latitude': 13.3847523742244, 'Longitude': -16.6797212636949, 'Ground surface elevation': 25.57, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 58.6795539855957, 'Slope_tif2': 0.9290392994880676, 'lat': 13.391112000000177, 'lon': -16.685240000000018, 'Hydrogeo': 5.0}

Analyzing well 9/47: Wellingara  EX1
Closest match found at index 101560: 5.0
Merged data: {'ID': '0000020009', 'Name': 'Wellingara  EX1', 'Status': 'Active', 'Latitude': 13.3949162854657, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 92.5710678100586, 'Slope_tif2': 0.9853842258453368, 'lat': 13.391112000000177, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 10/47: Bijilo OB6
Closest match found at index 101310: 5.0
Merged data: {'ID': '0000000001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.4208039, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'Drainage_density': 57.568843841552734, 'Slope_tif2': 2.7851665019989014, 'lat': 13.411112000000177, 'lon': -16.725240000000017, 'Hydrogeo': 5.0}

Analyzing well 11/47: Farafenni
Closest match found at index 99144: 3.0
Merged data: {'ID': 'NWP45001', 'Name': 'Farafenni', 'Status': 'Active', 'Latitude': 13.5833985686072, 'Longitude': -15.5814345809414, 'Ground surface elevation': 14.34, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 93.69303131103516, 'Slope_tif2': 1.4687471389770508, 'lat': 13.591112000000173, 'lon': -15.585240000000042, 'Hydrogeo': 3.0}

Analyzing well 12/47: Brikama OB1
Closest match found at index 102548: 5.0
Merged data: {'ID': 'NWP22002', 'Name': 'Brikama OB1', 'Status': 'Active', 'Latitude': 13.302783, 'Longitude': -16.65972, 'Ground surface elevation': 25.64, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 48.3131217956543, 'Slope_tif2': 4.312499046325684, 'lat': 13.311112000000179, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 13/47: Ballanghar
Closest match found at index 98165: 3.0
Merged data: {'ID': 'NWP50001', 'Name': 'Ballanghar', 'Status': 'Active', 'Latitude': 13.6710948906584, 'Longitude': -15.3988131430328, 'Ground surface elevation': 14.44, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -7776000000.0, 'Drainage_density': 69.14108276367188, 'Slope_tif2': 1.1842325925827026, 'lat': 13.671112000000171, 'lon': -15.405240000000045, 'Hydrogeo': 3.0}

Analyzing well 14/47: Kerr Sait Maram
Closest match found at index 98688: 3.0
Merged data: {'ID': 'NWP54002', 'Name': 'Kerr Sait Maram', 'Status': 'Active', 'Latitude': 13.6344360305248, 'Longitude': -14.8271163457013, 'Ground surface elevation': 18.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 87.87499237060547, 'Slope_tif2': 4.003250598907471, 'lat': 13.631112000000172, 'lon': -14.825240000000058, 'Hydrogeo': 3.0}

Analyzing well 15/47: Mariama Kunda JO1
Closest match found at index 101561: 5.0
Merged data: {'ID': 'NWP20008', 'Name': 'Mariama Kunda JO1', 'Status': 'Active', 'Latitude': 13.385648, 'Longitude': -16.64671, 'Ground surface elevation': 14.84, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -3888000000.0, 'Drainage_density': 77.43901824951172, 'Slope_tif2': 1.9973403215408323, 'lat': 13.391112000000177, 'lon': -16.64524000000002, 'Hydrogeo': 5.0}

Analyzing well 16/47: Mariama Kunda OB2
Closest match found at index 102051: nan
Merged data: {'ID': 'NWP20003', 'Name': 'Mariama Kunda OB2', 'Status': 'Active', 'Latitude': 13.358333, 'Longitude': -16.726389, 'Ground surface elevation': 15.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 84.81668853759766, 'Slope_tif2': 0.4645501971244812, 'lat': 13.351112000000178, 'lon': -16.725240000000017, 'Hydrogeo': nan}

Analyzing well 17/47: Brifu
Closest match found at index 100214: 3.0
Merged data: {'ID': 'NWP62001', 'Name': 'Brifu', 'Status': 'Active', 'Latitude': 13.50515436634058, 'Longitude': -13.9373833348597, 'Ground surface elevation': 20.35, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'Drainage_density': 112.75115203857422, 'Slope_tif2': 1.3934063911437988, 'lat': 13.511112000000175, 'lon': -13.945240000000076, 'Hydrogeo': 3.0}

Analyzing well 18/47: Kantele Kunda
Closest match found at index 101700: 3.0
Merged data: {'ID': 'NWP61001', 'Name': 'Kantele Kunda', 'Status': 'Active', 'Latitude': 13.3980614120398, 'Longitude': -13.8742538739228, 'Ground surface elevation': 49.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'Drainage_density': 110.63873291015624, 'Slope_tif2': 1.9973403215408323, 'lat': 13.391112000000177, 'lon': -13.865240000000078, 'Hydrogeo': 3.0}

Analyzing well 19/47: Mansajang Kunda
Closest match found at index 102918: 3.0
Merged data: {'ID': 'NWP60001', 'Name': 'Mansajang Kunda', 'Status': 'Active', 'Latitude': 13.29635905130469, 'Longitude': -14.204223870467, 'Ground surface elevation': 19.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -9072000000.0, 'Drainage_density': 94.91595458984376, 'Slope_tif2': 2.32153058052063, 'lat': 13.29111200000018, 'lon': -14.205240000000071, 'Hydrogeo': 3.0}

Analyzing well 20/47: Santanto Bubu
Closest match found at index 101912: 3.0
Merged data: {'ID': 'NWP58002', 'Name': 'Santanto Bubu', 'Status': 'Active', 'Latitude': 13.36180451581788, 'Longitude': -14.5608362772974, 'Ground surface elevation': 40.39, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 115.05143737792967, 'Slope_tif2': 2.102442502975464, 'lat': 13.371112000000178, 'lon': -14.565240000000063, 'Hydrogeo': 3.0}

Analyzing well 21/47: Yoro Beri Kunda
Closest match found at index 100420: 3.0
Merged data: {'ID': 'NWP58001', 'Name': 'Yoro Beri Kunda', 'Status': 'Active', 'Latitude': 13.4984818, 'Longitude': -14.7573025, 'Ground surface elevation': 17.4, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 88.64712524414062, 'Slope_tif2': 3.281345844268799, 'lat': 13.491112000000175, 'lon': -14.765240000000059, 'Hydrogeo': 3.0}

Analyzing well 22/47: Denton Boiram
Closest match found at index 100165: 3.0
Merged data: {'ID': 'NWP58011', 'Name': 'Denton Boiram', 'Status': 'Active', 'Latitude': 13.50524383718899, 'Longitude': -14.9272670700342, 'Ground surface elevation': 13.45, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 5184000000.0, 'Drainage_density': 108.4712905883789, 'Slope_tif2': 0.7344942092895508, 'lat': 13.511112000000175, 'lon': -14.925240000000056, 'Hydrogeo': 3.0}

Analyzing well 23/47: Pakaliba
Closest match found at index 100149: 3.0
Merged data: {'ID': 'NWP35001', 'Name': 'Pakaliba', 'Status': 'Active', 'Latitude': 13.5172450917462, 'Longitude': -15.242125038732, 'Ground surface elevation': 13.34, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 99.22616577148438, 'Slope_tif2': 3.667654514312744, 'lat': 13.511112000000175, 'lon': -15.245240000000049, 'Hydrogeo': 3.0}

Analyzing well 24/47: Karantaba
Closest match found at index 100876: 3.0
Merged data: {'ID': 'NWP33001', 'Name': 'Karantaba', 'Status': 'Active', 'Latitude': 13.4413165456322, 'Longitude': -15.51794086557469, 'Ground surface elevation': 27.39, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -2592000000.0, 'Drainage_density': 61.61677169799805, 'Slope_tif2': 1.9147183895111084, 'lat': 13.451112000000176, 'lon': -15.525240000000043, 'Hydrogeo': 3.0}

Analyzing well 25/47: Kwinella
Closest match found at index 101604: 3.0
Merged data: {'ID': 'NWP31001', 'Name': 'Kwinella', 'Status': 'Active', 'Latitude': 13.39610557899178, 'Longitude': -15.7933413454468, 'Ground surface elevation': 18.32, 'DepthToGroundwater': '25-50', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 1296000000.0, 'Drainage_density': 69.49993896484375, 'Slope_tif2': 3.113298177719116, 'lat': 13.391112000000177, 'lon': -15.785240000000037, 'Hydrogeo': 3.0}

Analyzing well 26/47: Mayork
Closest match found at index 103571: 3.0
Merged data: {'ID': 'NWP27001', 'Name': 'Mayork', 'Status': 'Active', 'Latitude': 13.22752284786961, 'Longitude': -15.957014970713, 'Ground surface elevation': 22.38, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 6480000000.0, 'Drainage_density': 62.69460678100586, 'Slope_tif2': 1.3541624546051023, 'lat': 13.23111200000018, 'lon': -15.965240000000033, 'Hydrogeo': 3.0}

Analyzing well 27/47: Niofelleh O5
Closest match found at index 103534: 5.0
Merged data: {'ID': 'NWP21002', 'Name': 'Niofelleh O5', 'Status': 'Active', 'Latitude': 13.2402809, 'Longitude': -16.7138891, 'Ground surface elevation': 21.68, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 69.20146942138672, 'Slope_tif2': 2.32153058052063, 'lat': 13.23111200000018, 'lon': -16.705240000000018, 'Hydrogeo': 5.0}

Analyzing well 28/47: Brikama O6A
Closest match found at index 102548: 5.0
Merged data: {'ID': 'NWP22003', 'Name': 'Brikama O6A', 'Status': 'Active', 'Latitude': 13.30277368516689, 'Longitude': -16.659717, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 3888000000.0, 'Drainage_density': 48.09586715698242, 'Slope_tif2': 4.312499046325684, 'lat': 13.311112000000179, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 29/47: Baffuloto OB4
Closest match found at index 102301: 5.0
Merged data: {'ID': 'NWP22001', 'Name': 'Baffuloto OB4', 'Status': 'Inactive', 'Latitude': 13.3299965, 'Longitude': -16.6587771, 'Ground surface elevation': 28.62, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -5184000000.0, 'Drainage_density': 69.56710815429688, 'Slope_tif2': 3.281345844268799, 'lat': 13.331112000000179, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 30/47: Wellingara EX5
Closest match found at index 101560: 5.0
Merged data: {'ID': 'NWP20004', 'Name': 'Wellingara EX5', 'Status': 'Active', 'Latitude': 13.39594387212938, 'Longitude': -16.6740837455996, 'Ground surface elevation': 22.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 60.02045440673828, 'Slope_tif2': 2.29822325706482, 'lat': 13.391112000000177, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 31/47: Jambur JO2
Closest match found at index 102299: 5.0
Merged data: {'ID': 'NWP20023', 'Name': 'Jambur JO2', 'Status': 'Active', 'Latitude': 13.3305867518767, 'Longitude': -16.7074159260369, 'Ground surface elevation': 24.73, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -3888000000.0, 'Drainage_density': 108.1054229736328, 'Slope_tif2': 1.9973403215408323, 'lat': 13.331112000000179, 'lon': -16.705240000000018, 'Hydrogeo': 5.0}

Analyzing well 32/47: Jambur OB3
Closest match found at index 102299: 5.0
Merged data: {'ID': 'NWP20025', 'Name': 'Jambur OB3', 'Status': 'Active', 'Latitude': 13.32958160853759, 'Longitude': -16.7049997, 'Ground surface elevation': 27.56, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -1296000000.0, 'Drainage_density': 109.47606658935548, 'Slope_tif2': 1.6745193004608154, 'lat': 13.331112000000179, 'lon': -16.705240000000018, 'Hydrogeo': 5.0}

Analyzing well 33/47: Brufut OB7
Closest match found at index 101556: nan
Merged data: {'ID': 'NWP20002', 'Name': 'Brufut OB7', 'Status': 'Active', 'Latitude': 13.39566517731999, 'Longitude': -16.7433273178684, 'Ground surface elevation': 17.53, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': nan, 'GroundwaterStorage': nan, 'Curvatu_tif2': -0.0, 'Drainage_density': 41.55162811279297, 'Slope_tif2': 2.5001461505889893, 'lat': 13.391112000000177, 'lon': -16.745240000000017, 'Hydrogeo': nan}

Analyzing well 34/47: Bijilo OB6
Closest match found at index 101310: 5.0
Merged data: {'ID': 'NWP00001', 'Name': 'Bijilo OB6', 'Status': 'Active', 'Latitude': 13.42080389502958, 'Longitude': -16.716666, 'Ground surface elevation': 19.47, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -6480000000.0, 'Drainage_density': 57.568843841552734, 'Slope_tif2': 2.7851665019989014, 'lat': 13.411112000000177, 'lon': -16.725240000000017, 'Hydrogeo': 5.0}

Analyzing well 35/47: Fajara TB8
Closest match found at index 100571: 5.0
Merged data: {'ID': 'NWP13001', 'Name': 'Fajara TB8', 'Status': 'Active', 'Latitude': 13.46607878570081, 'Longitude': -16.6927180557435, 'Ground surface elevation': 19.82, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 32.400184631347656, 'Slope_tif2': 0.656958818435669, 'lat': 13.471112000000176, 'lon': -16.685240000000018, 'Hydrogeo': 5.0}

Analyzing well 36/47: Wellingara EX1
Closest match found at index 101560: 5.0
Merged data: {'ID': 'NWP20009', 'Name': 'Wellingara EX1', 'Status': 'Active', 'Latitude': 13.3949163, 'Longitude': -16.664077, 'Ground surface elevation': 20.48, 'DepthToGroundwater': '0-7', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': 2592000000.0, 'Drainage_density': 92.5710678100586, 'Slope_tif2': 0.9853842258453368, 'lat': 13.391112000000177, 'lon': -16.66524000000002, 'Hydrogeo': 5.0}

Analyzing well 37/47: Mandinari OB3
Closest match found at index 101808: 5.0
Merged data: {'ID': 'NWP20007', 'Name': 'Mandinari OB3', 'Status': 'Active', 'Latitude': 13.362761, 'Longitude': -16.637219, 'Ground surface elevation': 30.47, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 49.994441986083984, 'Slope_tif2': 1.7684314250946045, 'lat': 13.371112000000178, 'lon': -16.64524000000002, 'Hydrogeo': 5.0}

Analyzing well 38/47: Jambur Medina JO3
Closest match found at index 102547: 5.0
Merged data: {'ID': 'NWP20024', 'Name': 'Jambur Medina JO3', 'Status': 'Active', 'Latitude': 13.317777, 'Longitude': -16.68056, 'Ground surface elevation': 29.9, 'DepthToGroundwater': '7-25', 'GroundwaterProductivity': '>20', 'GroundwaterStorage': '>50,000', 'Curvatu_tif2': -0.0, 'Drainage_density': 79.9999008178711, 'Slope_tif2': 2.5001461505889893, 'lat': 13.311112000000179, 'lon': -16.685240000000018, 'Hydrogeo': 5.0}

Analyzing well 39/47: Ndungu Kebbeh
Closest match found at index 99849: 3.0

In [60]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_updated_jay_4.csv')

In [62]:
df_wells = df_wells.drop(columns=['lat', 'lon','GroundwaterStorage','GroundwaterProductivity','Status'])

In [63]:
df_wells

,ID,Name,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,Curvatu_tif2,Drainage_density,Slope_tif2,Hydrogeo
0,0000058001,Yoro Beri Kunda,13.498482,-14.757303,17.40,0-7,-1.296000e+09,88.647125,3.281346,3.0
1,0000035001,Pakaliba,13.517245,-15.242125,13.34,0-7,3.888000e+09,99.226166,3.667655,3.0
2,0000024001,Somita,13.208963,-16.298932,27.31,0-7,2.592000e+09,91.167213,0.656959,5.0
3,0000023001,Taneneh,13.233057,-16.504728,14.32,0-7,7.776000e+09,61.539433,2.500146,5.0
4,0000020007,Mandinari OB3,13.362761,-16.637219,30.47,7-25,-0.000000e+00,49.994442,1.768431,5.0
5,0000020006,Kerewan OB5,13.360810,-16.625421,23.47,7-25,-0.000000e+00,51.529530,1.184233,5.0
6,0000022001,Baffuloto OB4,13.329997,-16.658777,28.62,0-7,-5.184000e+09,69.567108,3.281346,5.0
7,0000020005,Sinchu Sore OB1,13.384752,-16.679721,25.57,7-25,2.592000e+09,58.679554,0.929039,5.0
8,0000020009,Wellingara EX1,13.394916,-16.664077,20.48,0-7,2.592000e+09,92.571068,0.985384,5.0
9,0000000001,Bijilo OB6,13.420804,-16.716666,19.47,0-7,-6.480000e+09,57.568844,2.785167,5.0
10,NWP45001,Farafenni,13.583399,-15.581435,14.34,25-50,-1.296000e+09,93.693031,1.468747,3.0
11,NWP22002,Brikama OB1,13.302783,-16.659720,25.64,7-25,3.888000e+09,48.313122,4.312499,5.0
12,NWP50001,Ballanghar,13.671095,-15.398813,14.44,25-50,-7.776000e+09,69.141083,1.184233,3.0
13,NWP54002,Kerr Sait Maram,13.634436,-14.827116,18.39,25-50,2.592000e+09,87.874992,4.003251,3.0
14,NWP20008,Mariama Kunda JO1,13.385648,-16.646710,14.84,0-7,-3.888000e+09,77.439018,1.997340,5.0
15,NWP20003,Mariama Kunda OB2,13.358333,-16.726389,15.47,0-7,3.888000e+09,84.816689,0.464550,NaN
16,NWP62001,Brifu,13.505154,-13.937383,20.35,25-50,1.296000e+09,112.751152,1.393406,3.0
17,NWP61001,Kantele Kunda,13.398061,-13.874254,49.40,0-7,5.184000e+09,110.638733,1.997340,3.0
18,NWP60001,Mansajang Kunda,13.296359,-14.204224,19.34,0-7,-9.072000e+09,94.915955,2.321531,3.0
19,NWP58002,Santanto Bubu,13.361805,-14.560836,40.39,0-7,-5.184000e+09,115.051437,2.102443,3.0
20,NWP58001,Yoro Beri Kunda,13.498482,-14.757302,17.40,0-7,-1.296000e+09,88.647125,3.281346,3.0
21,NWP58011,Denton Boiram,13.505244,-14.927267,13.45,25-50,5.184000e+09,108.471291,0.734494,3.0
22,NWP35001,Pakaliba,13.517245,-15.242125,13.34,0-7,3.888000e+09,99.226166,3.667655,3.0
23,NWP33001,Karantaba,13.441317,-15.517941,27.39,25-50,-2.592000e+09,61.616772,1.914718,3.0
24,NWP31001,Kwinella,13.396106,-15.793341,18.32,25-50,1.296000e+09,69.499939,3.113298,3.0
25,NWP27001,Mayork,13.227523,-15.957015,22.38,7-25,6.480000e+09,62.694607,1.354162,3.0
26,NWP21002,Niofelleh O5,13.240281,-16.713889,21.68,7-25,-1.296000e+09,69.201469,2.321531,5.0
27,NWP22003,Brikama O6A,13.302774,-16.659717,27.56,7-25,3.888000e+09,48.095867,4.312499,5.0
28,NWP22001,Baffuloto OB4,13.329997,-16.658777,28.62,0-7,-5.184000e+09,69.567108,3.281346,5.0
29,NWP20004,Wellingara EX5,13.395944,-16.674084,22.56,0-7,-0.000000e+00,60.020454,2.298223,5.0
30,NWP20023,Jambur JO2,13.330587,-16.707416,24.73,0-7,-3.888000e+09,108.105423,1.997340,5.0
31,NWP20025,Jambur OB3,13.329582,-16.705000,27.56,0-7,-1.296000e+09,109.476067,1.674519,5.0
32,NWP20002,Brufut OB7,13.395665,-16.743327,17.53,0-7,-0.000000e+00,41.551628,2.500146,NaN
33,NWP00001,Bijilo OB6,13.420804,-16.716666,19.47,0-7,-6.480000e+09,57.568844,2.785167,5.0
34,NWP13001,Fajara TB8,13.466079,-16.692718,19.82,0-7,-0.000000e+00,32.400185,0.656959,5.0
35,NWP20009,Wellingara EX1,13.394916,-16.664077,20.48,0-7,2.592000e+09,92.571068,0.985384,5.0
36,NWP20007,Mandinari OB3,13.362761,-16.637219,30.47,7-25,-0.000000e+00,49.994442,1.768431,5.0
37,NWP20024,Jambur Medina JO3,13.317777,-16.680560,29.90,7-25,-0.000000e+00,79.999901,2.500146,5.0
38,NWP40001,Ndungu Kebbeh,13.537689,-16.314544,26.37,25-50,6.480000e+09,77.745026,1.674519,3.0
39,NWP43001,Gunjur,13.525941,-16.027513,19.43,25-50,-0.000000e+00,105.928932,0.734494,3.0
40,NWP51001,Kerr Modi Ali,13.747787,-15.230825,16.39,25-50,2.592000e+09,112.172928,0.464550,3.0
41,NWP54001,Tabanani,13.630592,-14.587840,33.35,25-50,-7.776000e+09,93.285103,2.321531,3.0
42,NWP62002,Yorobawol,13.425272,-14.206073,36.35,0-7,-1.036800e+10,56.687130,2.390084,3.0
43,NWP24001,Somita,13.208963,-16.298932,27.31,0-7,2.592000e+09,91.167213,0.656959,5.0
44,NWP23001,Taneneh,13.233057,-16.504728,14.32,0-7,7.776000e+09,61.539433,2.500146,5.0
45,NWP20006,Kerewan OB5,13.360810,-16.625421,23.47,7-25,-0.000000e+00,51.529530,1.184233,5.0
46,NWP20005,Sinchu Sore OB1,13.384752,-16.679721,25.57,7-25,2.592000e+09,58.679554,0.929039,5.0

In [64]:
df_wells.to_csv('../../data/processed_data/igrac/wells_gambia_final.csv', index=False)

In [65]:
df_wells = pd.read_csv('../../data/processed_data/igrac/wells_gambia_final.csv')

In [66]:
df_wells

,ID,Name,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,Curvatu_tif2,Drainage_density,Slope_tif2,Hydrogeo
0,0000058001,Yoro Beri Kunda,13.498482,-14.757303,17.40,0-7,-1.296000e+09,88.647125,3.281346,3.0
1,0000035001,Pakaliba,13.517245,-15.242125,13.34,0-7,3.888000e+09,99.226166,3.667655,3.0
2,0000024001,Somita,13.208963,-16.298932,27.31,0-7,2.592000e+09,91.167213,0.656959,5.0
3,0000023001,Taneneh,13.233057,-16.504728,14.32,0-7,7.776000e+09,61.539433,2.500146,5.0
4,0000020007,Mandinari OB3,13.362761,-16.637219,30.47,7-25,-0.000000e+00,49.994442,1.768431,5.0
5,0000020006,Kerewan OB5,13.360810,-16.625421,23.47,7-25,-0.000000e+00,51.529530,1.184233,5.0
6,0000022001,Baffuloto OB4,13.329997,-16.658777,28.62,0-7,-5.184000e+09,69.567108,3.281346,5.0
7,0000020005,Sinchu Sore OB1,13.384752,-16.679721,25.57,7-25,2.592000e+09,58.679554,0.929039,5.0
8,0000020009,Wellingara EX1,13.394916,-16.664077,20.48,0-7,2.592000e+09,92.571068,0.985384,5.0
9,0000000001,Bijilo OB6,13.420804,-16.716666,19.47,0-7,-6.480000e+09,57.568844,2.785167,5.0
10,NWP45001,Farafenni,13.583399,-15.581435,14.34,25-50,-1.296000e+09,93.693031,1.468747,3.0
11,NWP22002,Brikama OB1,13.302783,-16.659720,25.64,7-25,3.888000e+09,48.313122,4.312499,5.0
12,NWP50001,Ballanghar,13.671095,-15.398813,14.44,25-50,-7.776000e+09,69.141083,1.184233,3.0
13,NWP54002,Kerr Sait Maram,13.634436,-14.827116,18.39,25-50,2.592000e+09,87.874992,4.003251,3.0
14,NWP20008,Mariama Kunda JO1,13.385648,-16.646710,14.84,0-7,-3.888000e+09,77.439018,1.997340,5.0
15,NWP20003,Mariama Kunda OB2,13.358333,-16.726389,15.47,0-7,3.888000e+09,84.816689,0.464550,NaN
16,NWP62001,Brifu,13.505154,-13.937383,20.35,25-50,1.296000e+09,112.751152,1.393406,3.0
17,NWP61001,Kantele Kunda,13.398061,-13.874254,49.40,0-7,5.184000e+09,110.638733,1.997340,3.0
18,NWP60001,Mansajang Kunda,13.296359,-14.204224,19.34,0-7,-9.072000e+09,94.915955,2.321531,3.0
19,NWP58002,Santanto Bubu,13.361805,-14.560836,40.39,0-7,-5.184000e+09,115.051437,2.102443,3.0
20,NWP58001,Yoro Beri Kunda,13.498482,-14.757302,17.40,0-7,-1.296000e+09,88.647125,3.281346,3.0
21,NWP58011,Denton Boiram,13.505244,-14.927267,13.45,25-50,5.184000e+09,108.471291,0.734494,3.0
22,NWP35001,Pakaliba,13.517245,-15.242125,13.34,0-7,3.888000e+09,99.226166,3.667655,3.0
23,NWP33001,Karantaba,13.441317,-15.517941,27.39,25-50,-2.592000e+09,61.616772,1.914718,3.0
24,NWP31001,Kwinella,13.396106,-15.793341,18.32,25-50,1.296000e+09,69.499939,3.113298,3.0
25,NWP27001,Mayork,13.227523,-15.957015,22.38,7-25,6.480000e+09,62.694607,1.354162,3.0
26,NWP21002,Niofelleh O5,13.240281,-16.713889,21.68,7-25,-1.296000e+09,69.201469,2.321531,5.0
27,NWP22003,Brikama O6A,13.302774,-16.659717,27.56,7-25,3.888000e+09,48.095867,4.312499,5.0
28,NWP22001,Baffuloto OB4,13.329997,-16.658777,28.62,0-7,-5.184000e+09,69.567108,3.281346,5.0
29,NWP20004,Wellingara EX5,13.395944,-16.674084,22.56,0-7,-0.000000e+00,60.020454,2.298223,5.0
30,NWP20023,Jambur JO2,13.330587,-16.707416,24.73,0-7,-3.888000e+09,108.105423,1.997340,5.0
31,NWP20025,Jambur OB3,13.329582,-16.705000,27.56,0-7,-1.296000e+09,109.476067,1.674519,5.0
32,NWP20002,Brufut OB7,13.395665,-16.743327,17.53,0-7,-0.000000e+00,41.551628,2.500146,NaN
33,NWP00001,Bijilo OB6,13.420804,-16.716666,19.47,0-7,-6.480000e+09,57.568844,2.785167,5.0
34,NWP13001,Fajara TB8,13.466079,-16.692718,19.82,0-7,-0.000000e+00,32.400185,0.656959,5.0
35,NWP20009,Wellingara EX1,13.394916,-16.664077,20.48,0-7,2.592000e+09,92.571068,0.985384,5.0
36,NWP20007,Mandinari OB3,13.362761,-16.637219,30.47,7-25,-0.000000e+00,49.994442,1.768431,5.0
37,NWP20024,Jambur Medina JO3,13.317777,-16.680560,29.90,7-25,-0.000000e+00,79.999901,2.500146,5.0
38,NWP40001,Ndungu Kebbeh,13.537689,-16.314544,26.37,25-50,6.480000e+09,77.745026,1.674519,3.0
39,NWP43001,Gunjur,13.525941,-16.027513,19.43,25-50,-0.000000e+00,105.928932,0.734494,3.0
40,NWP51001,Kerr Modi Ali,13.747787,-15.230825,16.39,25-50,2.592000e+09,112.172928,0.464550,3.0
41,NWP54001,Tabanani,13.630592,-14.587840,33.35,25-50,-7.776000e+09,93.285103,2.321531,3.0
42,NWP62002,Yorobawol,13.425272,-14.206073,36.35,0-7,-1.036800e+10,56.687130,2.390084,3.0
43,NWP24001,Somita,13.208963,-16.298932,27.31,0-7,2.592000e+09,91.167213,0.656959,5.0
44,NWP23001,Taneneh,13.233057,-16.504728,14.32,0-7,7.776000e+09,61.539433,2.500146,5.0
45,NWP20006,Kerewan OB5,13.360810,-16.625421,23.47,7-25,-0.000000e+00,51.529530,1.184233,5.0
46,NWP20005,Sinchu Sore OB1,13.384752,-16.679721,25.57,7-25,2.592000e+09,58.679554,0.929039,5.0