# In this code we merge the two main datasets we have, the one with information of each well but without time related (such as slope, drainage and more), with the one with time data reletead (such as precipitation, NDVI and more)

In [1]:
import pandas as pd

In [2]:
# Read the CSV file
wells_df = pd.read_csv('../../data/processed_data/igrac/wells_gambia_final.csv')
wells_time_df = pd.read_csv('../../data/processed_data/final_data_gambia.csv')

In [3]:
wells_df.head()

,ID,Name,Latitude,Longitude,Ground surface elevation,DepthToGroundwater,Curvatu_tif2,Drainage_density,Slope_tif2,Hydrogeo,NASADEM_HGT
0,0000058001,Yoro Beri Kunda,13.498482,-14.757303,17.40,0-7,-1.296000e+09,88.647125,3.281346,3.0,18.0
1,0000035001,Pakaliba,13.517245,-15.242125,13.34,0-7,3.888000e+09,99.226166,3.667655,3.0,17.0
2,0000024001,Somita,13.208963,-16.298932,27.31,0-7,2.592000e+09,91.167213,0.656959,5.0,33.0
3,0000023001,Taneneh,13.233057,-16.504728,14.32,0-7,7.776000e+09,61.539433,2.500146,5.0,18.0
4,0000020007,Mandinari OB3,13.362761,-16.637219,30.47,7-25,-0.000000e+00,49.994442,1.768431,5.0,33.0

In [4]:
wells_time_df.head()

,ID,GROUNDWATER_LEVEL,Day,Month,Year,Latitude,Longitude,Ground surface elevation,LIS_Soil_Moisture_Combined,LIS_Streamflow,LIS_ET,Date,MOD13Q1_061__250m_16_days_EVI,MOD13Q1_061__250m_16_days_MIR_reflectance,MOD13Q1_061__250m_16_days_NDVI,NASA_IMERG_Late
0,NWP00001,14.26,14,4,2016,13.420804,-16.716666,19.47,0.172124,0.059371,0.219499,2016-04-14,0.2113,0.3972,0.2564,0.0
1,NWP00001,13.82,26,12,2015,13.420804,-16.716666,19.47,0.210837,0.136391,1.412334,2015-12-26,0.2443,0.1787,0.4064,1.3
2,NWP00001,13.82,25,12,2015,13.420804,-16.716666,19.47,0.211614,0.138738,1.612549,2015-12-25,0.2443,0.1787,0.4064,0.0
3,NWP00001,13.83,24,12,2015,13.420804,-16.716666,19.47,0.212448,0.141231,1.522625,2015-12-24,0.2443,0.1787,0.4064,0.1
4,NWP00001,13.83,23,12,2015,13.420804,-16.716666,19.47,0.213260,0.143826,1.481390,2015-12-23,0.2443,0.1787,0.4064,0.0

In [5]:
# Merging the dataframes on the 'ID' column
merged_df = pd.merge(left=wells_time_df, right=wells_df[['ID', 'DepthToGroundwater', 
                                                         'Curvatu_tif2', 'Drainage_density', 
                                                         'Slope_tif2', 'Hydrogeo', 'NASADEM_HGT']], 
                     on='ID', 
                     how='left')
merged_df

,ID,GROUNDWATER_LEVEL,Day,Month,Year,Latitude,Longitude,Ground surface elevation,LIS_Soil_Moisture_Combined,LIS_Streamflow,...,MOD13Q1_061__250m_16_days_EVI,MOD13Q1_061__250m_16_days_MIR_reflectance,MOD13Q1_061__250m_16_days_NDVI,NASA_IMERG_Late,DepthToGroundwater,Curvatu_tif2,Drainage_density,Slope_tif2,Hydrogeo,NASADEM_HGT
0,NWP00001,14.26,14,4,2016,13.420804,-16.716666,19.47,0.172124,0.059371,...,0.2113,0.3972,0.2564,0.0,0-7,-6.480000e+09,57.568844,2.785167,5.0,25.0
1,NWP00001,13.82,26,12,2015,13.420804,-16.716666,19.47,0.210837,0.136391,...,0.2443,0.1787,0.4064,1.3,0-7,-6.480000e+09,57.568844,2.785167,5.0,25.0
2,NWP00001,13.82,25,12,2015,13.420804,-16.716666,19.47,0.211614,0.138738,...,0.2443,0.1787,0.4064,0.0,0-7,-6.480000e+09,57.568844,2.785167,5.0,25.0
3,NWP00001,13.83,24,12,2015,13.420804,-16.716666,19.47,0.212448,0.141231,...,0.2443,0.1787,0.4064,0.1,0-7,-6.480000e+09,57.568844,2.785167,5.0,25.0
4,NWP00001,13.83,23,12,2015,13.420804,-16.716666,19.47,0.213260,0.143826,...,0.2443,0.1787,0.4064,0.0,0-7,-6.480000e+09,57.568844,2.785167,5.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6631,NWP21002,16.85,5,1,2015,13.240281,-16.713889,21.68,0.232334,0.085506,...,0.1795,0.2054,0.3419,0.5,7-25,-1.296000e+09,69.201469,2.321531,5.0,25.0
6632,NWP21002,16.79,4,1,2015,13.240281,-16.713889,21.68,0.232903,0.086226,...,0.1795,0.2054,0.3419,0.1,7-25,-1.296000e+09,69.201469,2.321531,5.0,25.0
6633,NWP21002,16.82,3,1,2015,13.240281,-16.713889,21.68,0.233475,0.086970,...,0.1795,0.2054,0.3419,0.0,7-25,-1.296000e+09,69.201469,2.321531,5.0,25.0
6634,NWP21002,16.82,2,1,2015,13.240281,-16.713889,21.68,0.234051,0.087731,...,0.1795,0.2054,0.3419,0.0,7-25,-1.296000e+09,69.201469,2.321531,5.0,25.0
6635,NWP21002,16.81,1,1,2015,13.240281,-16.713889,21.68,0.234645,0.088509,...,0.1795,0.2054,0.3419,0.0,7-25,-1.296000e+09,69.201469,2.321531,5.0,25.0

In [6]:
# Saving the merged dataframe to a new CSV file (optional)
merged_df.to_csv('../../data/processed_data/wells_data_gambia_for_machine_learning.csv', index=False)

In [7]:
merged_df
rows_with_nan = merged_df[merged_df.isnull().any(axis=1)]
rows_with_nan

Empty DataFrame
Columns: [ID, GROUNDWATER_LEVEL, Day, Month, Year, Latitude, Longitude, Ground surface elevation, LIS_Soil_Moisture_Combined, LIS_Streamflow, LIS_ET, Date, MOD13Q1_061__250m_16_days_EVI, MOD13Q1_061__250m_16_days_MIR_reflectance, MOD13Q1_061__250m_16_days_NDVI, NASA_IMERG_Late, DepthToGroundwater, Curvatu_tif2, Drainage_density, Slope_tif2, Hydrogeo, NASADEM_HGT]
Index: []

[0 rows x 22 columns]